Repository WebDevStudios/wd_s: changes, and which lefthook commands are due for each by the changed paths.
All: php, styles, javascript, markdown, other

lefthook.yml:

# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md

pre-commit:
    parallel: true
    commands:
        php:
            glob: '*.php'
            run: ./vendor/bin/phpcs -p -s -v {staged_files} --standard=phpcs.xml.dist
        styles:
            glob: '*.{css,scss}'
            run: npx stylelint {staged_files} -f verbose
        javascript:
            glob: '*.{js,ts,tsx}'
            run: npx eslint {staged_files}
        markdown:
            glob: '*.{md}'
            run: npx markdownlint-cli {staged_files}
        other:
            glob: '*.{yml,json,html}'
            run: npx prettier {staged_files} --write

Feature/bulk dependabot 2021 06 07 (#669)
  composer.json
  composer.lock
  package-lock.json
  package.json
Due: other

initial commit of deploy action
  .github/workflows/deploy.yml
Due: other

add slack notification to deployment
  .github/workflows/deploy.yml
Due: other

rebuild
  package-lock.json
Due: other

tidy up deploy yml
  .github/workflows/deploy.yml
Due: other

only run on PR to main
  .github/workflows/assertions.yml
Due: other

update descriptions
  .github/workflows/deploy.yml
Due: other

auth composer
  .github/workflows/assertions.yml
Due: other

auth composer
  .github/workflows/deploy.yml
Due: other

Introduce Github Actions (#671)
  .github/workflows/assertions.yml
  .github/workflows/deploy.yml
  composer.lock
  package-lock.json
  package.json
Due: other

remove space
  .github/workflows/deploy.yml
Due: other

ignore YML files
  .prettierignore
Due: none

need double quotes
  .github/workflows/deploy.yml
Due: other

dont use double quotes. don't ignore yml
  .github/workflows/deploy.yml
  .prettierignore
Due: other

update badge
  README.md
Due: none

fix lint script
  package.json
Due: other

update format:js to use new wp scripts command
  .github/dependabot.yml
  README.md
  package.json
  src/scss/base/_globals.scss
Due: styles, other

update markdown lint command
  .github/workflows/assertions.yml
Due: other

Feature/refine svg workflow (#660)
  inc/template-tags.php
  src/images/icons/caret-down.svg
  src/images/icons/facebook-square.svg
  src/images/icons/hamburger.svg
  src/images/icons/instagram-square.svg
  src/images/icons/linkedin-square.svg
  src/images/icons/pause.svg
  src/images/icons/play.svg
  src/images/icons/twitter-square.svg
Due: php

Squashed commit of the following:
  .github/dependabot.yml
  .github/workflows/assertions.yml
  .github/workflows/deploy.yml
  README.md
  composer.json
  composer.lock
  inc/template-tags.php
  package-lock.json
  package.json
  src/images/icons/caret-down.svg
  src/images/icons/facebook-square.svg
  src/images/icons/hamburger.svg
  src/images/icons/instagram-square.svg
  src/images/icons/linkedin-square.svg
  src/images/icons/pause.svg
  src/images/icons/play.svg
  src/images/icons/twitter-square.svg
  src/scss/base/_globals.scss
  webpack.config.js
  webpack.prod.js
Due: php, styles, javascript, other

Moves JS files and removes /components/
  src/components/accordion.js
  src/components/js-enabled.js
  src/components/skip-link-focus-fix.js
  src/components/window-ready.js
  src/index.js
  src/js-new/template-tags/index.js
  src/js-new/template-tags/mobile-menu.js
  src/js-new/template-tags/modal.js
  src/js-new/template-tags/navigation-primary.js
  src/js-new/template-tags/off-canvas.js
  src/js-new/template-tags/table.js
  src/js-new/template-tags/video.js
Due: javascript

Updates Tailwind JS location
  tailwind.config.js
Due: javascript

Renames js-new to js
  src/index.js
  src/js/blocks/index.js
  src/js/global/index.js
  src/js/global/js-enabled.js
  src/js/global/skip-link-focus-fix.js
  src/js/global/window-ready.js
  src/js/index.js
  src/js/template-tags/index.js
  src/js/template-tags/mobile-menu.js
  src/js/template-tags/modal.js
  src/js/template-tags/navigation-primary.js
  src/js/template-tags/off-canvas.js
  src/js/template-tags/table.js
  src/js/template-tags/video.js
  src/js/templates/index.js
  tailwind.config.js
Due: javascript

Rearranges Sass partials
  src/index.js
  src/scss-new/blocks/core/_gallery.scss
  src/scss-new/blocks/core/_image.scss
  src/scss-new/blocks/core/_paragraph.scss
  src/scss-new/blocks/core/_table.scss
  src/scss-new/index.scss
  src/scss-new/tailwind.scss
  src/scss-new/template-tags/_forms.scss
  src/scss-new/template-tags/_menus.scss
  src/scss-new/template-tags/_mobile-menus.scss
  src/scss-new/template-tags/_modals.scss
  src/scss-new/template-tags/_off-canvas.scss
  src/scss-new/template-tags/_svg-sprite-wrapper.scss
  src/scss-new/template-tags/_tables.scss
  src/scss-new/template-tags/index.scss
  src/scss-new/templates/_comments.scss
  src/scss-new/templates/_footer.scss
  src/scss-new/templates/_header.scss
  src/scss-new/templates/_posts.scss
  src/scss-new/templates/index.scss
  src/scss-new/wordpress-globals/_alignment.scss
  src/scss-new/wordpress-globals/index.scss
  src/scss/index.scss
  src/scss/modules/_images.scss
  tailwind.config.js
Due: styles, javascript

Removes old partials
  src/scss/base/_headings.scss
  src/scss/base/index.scss
  src/scss/index.scss
  src/scss/modules/index.scss
  src/scss/views/_archive.scss
  src/scss/views/_sidebar-right.scss
  src/scss/views/index.scss
Due: styles

Moves some old globals into tailwind config
  tailwind.config.js
Due: javascript

Renames scss directory
  src/index.js
  src/scss/base/_globals.scss
  src/scss/base/index.scss
  src/scss/blocks/_example.scss
  src/scss/blocks/core/_code.scss
  src/scss/blocks/core/_gallery.scss
  src/scss/blocks/core/_heading.scss
  src/scss/blocks/core/_image.scss
  src/scss/blocks/core/_list.scss
  src/scss/blocks/core/_paragraph.scss
  src/scss/blocks/core/_pullquote.scss
  src/scss/blocks/core/_quote.scss
  src/scss/blocks/core/_spacer.scss
  src/scss/blocks/core/_table.scss
  src/scss/blocks/core/index.scss
  src/scss/blocks/index.scss
  src/scss/index.scss
  src/scss/tailwind.scss
  src/scss/template-tags/_forms.scss
  src/scss/template-tags/_menus.scss
  src/scss/template-tags/_mobile-menus.scss
  src/scss/template-tags/_modals.scss
  src/scss/template-tags/_off-canvas.scss
  src/scss/template-tags/_svg-sprite-wrapper.scss
  src/scss/template-tags/_tables.scss
  src/scss/template-tags/index.scss
  src/scss/templates/_comments.scss
  src/scss/templates/_footer.scss
  src/scss/templates/_header.scss
  src/scss/templates/_posts.scss
  src/scss/templates/index.scss
  src/scss/wordpress-globals/_admin.scss
  src/scss/wordpress-globals/_alignment.scss
  src/scss/wordpress-globals/index.scss
  tailwind.config.js
Due: styles, javascript

Removes extra table styles
  src/scss/template-tags/_tables.scss
  src/scss/template-tags/index.scss
Due: styles

Add spacing & standardize line breaks
  archive.php
  footer.php
  functions.php
  header.php
  inc/customizer/panels.php
  inc/customizer/sections.php
  inc/customizer/settings.php
  inc/extras.php
  inc/hooks.php
  inc/scaffolding.php
  inc/scripts.php
  inc/template-tags.php
  index.php
  single.php
  template-parts/content-none.php
  template-parts/content-page.php
  template-parts/content-password-protected.php
  template-parts/content-search.php
  template-parts/content.php
  template-scaffolding.php
  template-sidebar-right.php
Due: php

Update docblocks to be consistent
  functions.php
  inc/compat.php
  inc/customizer/customizer.php
  inc/customizer/panels.php
  inc/customizer/settings.php
  inc/extras.php
  inc/hooks.php
  inc/scaffolding.php
  inc/scripts.php
  inc/template-tags.php
Due: php

Reorder class names
  404.php
  archive.php
  comments.php
  index.php
  single.php
  template-sidebar-right.php
Due: php

Update block comments to be standardized
  archive.php
  comments.php
  index.php
Due: php

Use " instead of ' for strings that have a quote in them
  404.php
Due: php

Pass var directly rather than setting and passing
  template-parts/scaffolding/scaffolding-forms.php
Due: php

Switch to normal if curlies for setup theme function
  functions.php
Due: php

Fix indentation of PHP code
  archive.php
Due: php

Fix indentation of PHP code
  header.php
Due: php

Fix spacing, indentation, and if checks for commments template
  comments.php
Due: php

Align if colons to the if line, not a seperate line
  inc/scaffolding.php
  inc/template-tags.php
  index.php
Due: php

Simplify check in sidebar html output
  sidebar.php
Due: php
