Repository WebDevStudios/wd_s: changes, and which lefthook commands are due for each by the changed paths.
All: php, styles, javascript, markdown, other

lefthook.yml:

# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md

pre-commit:
    parallel: true
    commands:
        php:
            glob: '*.php'
            run: ./vendor/bin/phpcs -p -s -v {staged_files} --standard=phpcs.xml.dist
        styles:
            glob: '*.{css,scss}'
            run: npx stylelint {staged_files} -f verbose
        javascript:
            glob: '*.{js,ts,tsx}'
            run: npx eslint {staged_files}
        markdown:
            glob: '*.{md}'
            run: npx markdownlint-cli {staged_files}
        other:
            glob: '*.{yml,json,html}'
            run: npx prettier {staged_files} --write

bump to 2.1.0
  package-lock.json
  package.json
  style.css
Due: styles, other

Reorganize scss
  src/scss-new/blocks/_example.scss
  src/scss-new/blocks/core/_code.scss
  src/scss-new/blocks/core/_gallery.scss
  src/scss-new/blocks/core/_heading.scss
  src/scss-new/blocks/core/_image.scss
  src/scss-new/blocks/core/_list.scss
  src/scss-new/blocks/core/_paragraph.scss
  src/scss-new/blocks/core/_pullquote.scss
  src/scss-new/blocks/core/_quote.scss
  src/scss-new/blocks/core/_spacer.scss
  src/scss-new/blocks/core/_table.scss
  src/scss-new/blocks/core/index.scss
  src/scss-new/blocks/index.scss
  src/scss-new/index.scss
  src/scss-new/template-tags/index.scss
  src/scss-new/templates/index.scss
Due: styles

Reorganize js
  src/js-new/blocks/index.js
  src/js-new/global/index.js
  src/js-new/global/js-enabled.js
  src/js-new/global/skip-link-focus-fix.js
  src/js-new/global/window-ready.js
  src/js-new/index.js
  src/js-new/template-tags/index.js
  src/js-new/templates/index.js
Due: javascript

fix build script
  package.json
Due: other

Simplify cli run and add --allow-root
  composer.json
  composer.lock
Due: other

Removes ImageMin for SVG files
  webpack.config.js
  webpack.prod.js
Due: javascript

Updates package lock file
  package-lock.json
Due: other

Updates CSSMinimizer version number
  package-lock.json
  package.json
Due: other

Removes sourceMap from CSSMinimizer
  webpack.prod.js
Due: javascript

Remove version from package.json
  package-lock.json
  package.json
Due: other

Remove version from package.json (#650)
  package-lock.json
  package.json
Due: other

ISSUE-635 Escape the SVG with wp_kses
  inc/template-tags.php
Due: php

Replace fill colors with currentColor
  src/images/icons/caret-down.svg
  src/images/icons/facebook-square.svg
  src/images/icons/hamburger.svg
  src/images/icons/instagram-square.svg
  src/images/icons/linkedin-square.svg
  src/images/icons/pause.svg
  src/images/icons/play.svg
  src/images/icons/twitter-square.svg
Due: none

ISSUE-635 Escape the SVG with wp_kses (#654)
  inc/template-tags.php
Due: php

Merges in display SVG update
  inc/template-tags.php
Due: php

Cleans up some spacing
  inc/template-tags.php
Due: php

Replaces fill/stroke with color, adds stroke-width
  inc/template-tags.php
Due: php

bump tailwind to 2.1.4
  package-lock.json
  package.json
Due: other

bump lefthook to 0.7.6
  package-lock.json
  package.json
Due: other

bump @wordpress/prettier-config to 1.0.5
  package-lock.json
  package.json
Due: other

bump css-loader to 5.2.6
  package-lock.json
  package.json
Due: other

lock css-minimizer-webpack-plugin version
  package-lock.json
  package.json
Due: other

bump eslint-webpack-plugin to 2.5.4
  package-lock.json
  package.json
Due: other

bump mini-css-extract-plugin to v1.6.0
  package-lock.json
  package.json
  webpack.config.js
Due: javascript, other

bump sass-loader to 10.2.0
  package-lock.json
  package.json
Due: other

lock in svg-spritemap-webpack-plugin to 3.9.1
  package.json
Due: other

bump @wordpress/scripts to 16.1.1
  package-lock.json
  package.json
Due: other

bump wp-cli to v2.5.0. bump composer/installers to 1.11.0
  composer.json
  composer.lock
Due: other

Bulk Dependabot for 06-02-2021 (#665)
  composer.json
  composer.lock
  package-lock.json
  package.json
  webpack.config.js
Due: javascript, other

bump @wordpress/scripts to v16.1.2
  package-lock.json
  package.json
Due: other

bump webpack-merge to v5.8.0
  package-lock.json
  package.json
Due: other

bump composer dependencies
  composer.json
  composer.lock
Due: other

lint:pkg-json requires version
  package.json
Due: other

initial commit of assertions
  .github/workflows/assertions.yml
Due: other

bump dependencies
  composer.json
  composer.lock
Due: other

regenerate package-lock
  package-lock.json
Due: other

specify prettier version
  package.json
Due: other

add version
  package.json
Due: other

update lint commands
  .github/workflows/assertions.yml
Due: other

try out slack notification
  .github/workflows/assertions.yml
Due: other
