Repository WebDevStudios/wd_s: changes, and which lefthook commands are due for each by the changed paths.
All: php, styles, javascript, markdown, other

lefthook.yml:

# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md

pre-commit:
    parallel: true
    commands:
        php:
            glob: '*.php'
            run: ./vendor/bin/phpcs -p -s -v {staged_files} --standard=phpcs.xml.dist
        styles:
            glob: '*.{css,scss}'
            run: npx stylelint {staged_files} -f verbose
        javascript:
            glob: '*.{js,ts,tsx}'
            run: npx eslint {staged_files}
        markdown:
            glob: '*.{md}'
            run: npx markdownlint-cli {staged_files}
        other:
            glob: '*.{yml,json,html}'
            run: npx prettier {staged_files} --write

Text formatting updates
  src/js/template-tags/modal.js
  src/scss/blocks/index.scss
  tailwind.config.js
Due: styles, javascript

Update field groups
  acf-json/group_59416d894b7c7.json
  acf-json/group_61e58e490f037.json
  acf-json/group_61e5c3849235d.json
Due: other

Updated
  package-lock.json
Due: other

Update block names for better consistency
  inc/blocks/cards-repeater.php
  template-parts/blocks/cards-repeater.php
Due: php

Update function and variable prefixes from $acf_ -> $wd_s_
  documentation/elements.php
  documentation/modules.php
  inc/functions/get-validate-args.php
  inc/hooks/register-acf-blocks.php
  inc/template-tags/print-post-taxonomies.php
  template-parts/blocks/accordion.php
  template-parts/blocks/logo-grid.php
  template-parts/blocks/quotes.php
  template-parts/blocks/side-by-side.php
  template-parts/blocks/tabs.php
  template-parts/elements/anchor.php
  template-parts/elements/badge.php
  template-parts/elements/blockquote.php
  template-parts/elements/button.php
  template-parts/elements/content.php
  template-parts/elements/eyebrow.php
  template-parts/elements/heading.php
  template-parts/elements/icon.php
  template-parts/elements/image.php
  template-parts/elements/input.php
  template-parts/elements/label.php
  template-parts/elements/logo.php
  template-parts/elements/select.php
  template-parts/elements/textarea.php
  template-parts/modules/accordion.php
  template-parts/modules/badges.php
  template-parts/modules/call-to-action.php
  template-parts/modules/card.php
  template-parts/modules/carousel.php
  template-parts/modules/figure.php
  template-parts/modules/hero.php
  template-parts/modules/meta.php
  template-parts/modules/notification.php
  template-parts/modules/search.php
  template-parts/modules/tabs.php
Due: php

Update naming
  inc/blocks/cards-repeater.php
  template-parts/blocks/cards-repeater.php
Due: php

Move core blocks' scss files
  src/scss/core-blocks/_captions.scss
  src/scss/core-blocks/_code.scss
  src/scss/core-blocks/_gallery.scss
  src/scss/core-blocks/_heading.scss
  src/scss/core-blocks/_image.scss
  src/scss/core-blocks/_list.scss
  src/scss/core-blocks/_pullquote.scss
  src/scss/core-blocks/_quote.scss
  src/scss/core-blocks/_spacer.scss
  src/scss/core-blocks/_table.scss
  src/scss/core-blocks/index.scss
  src/scss/index.scss
Due: styles

Update classnames from .abs- to .wds-
  src/scss/blocks/_cards-manual.scss
  src/scss/blocks/_logo-grid.scss
  src/scss/blocks/_side-by-side.scss
  src/scss/blocks/_wds-block.scss
  src/scss/blocks/index.scss
  src/scss/elements/_badge.scss
  src/scss/elements/_button.scss
  src/scss/elements/_content.scss
  src/scss/elements/_eyebrow.scss
  src/scss/elements/_heading.scss
  src/scss/elements/_icon.scss
  src/scss/modules/_accordion.scss
  src/scss/modules/_call-to-action.scss
  src/scss/modules/_card.scss
  src/scss/modules/_carousel.scss
  src/scss/modules/_hero.scss
  src/scss/modules/_image.scss
  src/scss/modules/_notification.scss
  src/scss/modules/_search.scss
  src/scss/modules/_tabs.scss
Due: styles

Update script handle to match the theme
  inc/setup/scripts.php
Due: php

Update assigned classes from abs- to wds-
  template-parts/blocks/accordion/accordion.php
  template-parts/blocks/cards-repeater.php
  template-parts/blocks/logo-grid.php
  template-parts/blocks/quotes.php
  template-parts/blocks/side-by-side.php
  template-parts/blocks/tabs.php
  template-parts/elements/anchor.php
  template-parts/elements/badge.php
  template-parts/elements/blockquote.php
  template-parts/elements/button.php
  template-parts/elements/content.php
  template-parts/elements/eyebrow.php
  template-parts/elements/heading.php
  template-parts/elements/icon.php
  template-parts/elements/image.php
  template-parts/elements/input.php
  template-parts/elements/label.php
  template-parts/elements/logo.php
  template-parts/elements/select.php
  template-parts/elements/textarea.php
  template-parts/modules/accordion.php
  template-parts/modules/badges.php
  template-parts/modules/call-to-action.php
  template-parts/modules/card.php
  template-parts/modules/carousel.php
  template-parts/modules/figure.php
  template-parts/modules/hero.php
  template-parts/modules/meta.php
  template-parts/modules/notification.php
  template-parts/modules/search.php
  template-parts/modules/tabs.php
Due: php

Update file locations
  template-parts/blocks/cards-repeater/cards-repeater.php
  template-parts/blocks/logo-grid/logo-grid.php
  template-parts/blocks/quotes/quotes.php
  template-parts/blocks/search-form/search-form.php
  template-parts/blocks/side-by-side/side-by-side.php
  template-parts/blocks/tabs/tabs.php
Due: php

Remove search form block
  template-parts/blocks/search-form/search-form.php
Due: php

Simplify block classes
  template-parts/blocks/accordion/accordion.php
  template-parts/blocks/cards-repeater/cards-repeater.php
  template-parts/blocks/logo-grid/logo-grid.php
  template-parts/blocks/quotes/quotes.php
  template-parts/blocks/side-by-side/side-by-side.php
  template-parts/blocks/tabs/tabs.php
Due: php

Move SCSS files to the blocks' folders
  src/scss/blocks/index.scss
  template-parts/blocks/cards-repeater/_cards-repeater.scss
  template-parts/blocks/logo-grid/_logo-grid.scss
  template-parts/blocks/side-by-side/_side-by-side.scss
Due: styles

Restructure the /template-parts folder to allow for ACF blocks
  template-parts/acf-blocks/blocks/cards-repeater/_cards-repeater.scss
  template-parts/acf-blocks/blocks/cards-repeater/cards-repeater.php
  template-parts/acf-blocks/blocks/logo-grid/_logo-grid.scss
  template-parts/acf-blocks/blocks/logo-grid/logo-grid.php
  template-parts/acf-blocks/blocks/quotes/quotes.php
  template-parts/acf-blocks/blocks/side-by-side/_side-by-side.scss
  template-parts/acf-blocks/blocks/side-by-side/side-by-side.php
  template-parts/acf-blocks/blocks/tabs/tabs.php
  template-parts/acf-blocks/elements/anchor.php
  template-parts/acf-blocks/elements/badge.php
  template-parts/acf-blocks/elements/blockquote.php
  template-parts/acf-blocks/elements/button.php
  template-parts/acf-blocks/elements/content.php
  template-parts/acf-blocks/elements/eyebrow.php
  template-parts/acf-blocks/elements/heading.php
  template-parts/acf-blocks/elements/icon.php
  template-parts/acf-blocks/elements/image.php
  template-parts/acf-blocks/elements/input.php
  template-parts/acf-blocks/elements/label.php
  template-parts/acf-blocks/elements/logo.php
  template-parts/acf-blocks/elements/select.php
  template-parts/acf-blocks/elements/textarea.php
  template-parts/acf-blocks/modules/accordion.php
  template-parts/acf-blocks/modules/badges.php
  template-parts/acf-blocks/modules/call-to-action.php
  template-parts/acf-blocks/modules/card.php
  template-parts/acf-blocks/modules/carousel.php
  template-parts/acf-blocks/modules/figure.php
  template-parts/acf-blocks/modules/hero.php
  template-parts/acf-blocks/modules/meta.php
  template-parts/acf-blocks/modules/notification.php
  template-parts/acf-blocks/modules/search.php
  template-parts/acf-blocks/modules/tabs.php
  template-parts/blocks/accordion/accordion.php
Due: php, styles

Register block the ACF/WP 6+ way
  inc/blocks/accordion.php
  template-parts/acf-blocks/blocks/accordion/block.json
Due: php, other

Move the accordion to the newly structured folders
  template-parts/acf-blocks/blocks/accordion/accordion.php
Due: php

Disallow custom IDs and classes
  template-parts/acf-blocks/blocks/accordion/block.json
Due: other

Specify allowed InnerBlocks
  template-parts/acf-blocks/blocks/accordion/accordion.php
Due: php

Update path to elements and modules
  inc/template-tags/print-element.php
  inc/template-tags/print-module.php
Due: php

Update fields
  acf-json/group_5cc9ad45ed8c9.json
  acf-json/group_61e5c3849235d.json
Due: other

Update Field Group title
  acf-json/group_61e5c3849235d.json
Due: other

Update script enqueue handle
  template-parts/acf-blocks/modules/carousel.php
Due: php

Register Cards block with block.json
  inc/blocks/cards-repeater.php
  template-parts/acf-blocks/blocks/cards-repeater/block.json
Due: php, other

Update block name to match ACF recommendations
  template-parts/acf-blocks/blocks/accordion/block.json
Due: other

Temporarily remove InnerBlocks to help resolve bugs
  template-parts/acf-blocks/blocks/accordion/accordion.php
Due: php

Update accordion field group
  acf-json/group_5cc9ad45ed8c9.json
Due: other

Include InnerBlocks again
  template-parts/acf-blocks/blocks/accordion/accordion.php
Due: php

Update supports: jsx
  template-parts/acf-blocks/blocks/accordion/block.json
  template-parts/acf-blocks/blocks/cards-repeater/block.json
Due: other

Build the blocks partial
  src/scss/index.scss
Due: styles

Add editor styles
  src/scss/global/_editor-styles.scss
  src/scss/global/index.scss
Due: styles

Remove heading & content fields from blocks
  acf-json/group_5cc9ad45ed8c9.json
  acf-json/group_61e5c3849235d.json
  template-parts/acf-blocks/blocks/accordion/accordion.php
  template-parts/acf-blocks/blocks/cards-repeater/cards-repeater.php
Due: php, other

Remove Block Header & Block Content from accordion module
  template-parts/acf-blocks/blocks/accordion/accordion.php
Due: php

Update empty innerblocks container styling
  src/scss/global/_editor-styles.scss
Due: styles

Add ability to disallow blocks (inactive)
  inc/hooks/allowed-blocks.php
Due: php

Remove AlpineJS functionality
  template-parts/acf-blocks/modules/accordion.php
Due: php

Improve comments and consistency
  template-parts/acf-blocks/blocks/accordion/accordion.php
  template-parts/acf-blocks/blocks/cards-repeater/cards-repeater.php
  template-parts/acf-blocks/blocks/logo-grid/logo-grid.php
  template-parts/acf-blocks/blocks/quotes/quotes.php
  template-parts/acf-blocks/blocks/side-by-side/side-by-side.php
  template-parts/acf-blocks/blocks/tabs/tabs.php
Due: php

Remove unused function
  template-parts/acf-blocks/blocks/accordion/accordion.php
Due: php

Remove unnecessary namespace & postType property
  template-parts/acf-blocks/blocks/accordion/block.json
  template-parts/acf-blocks/blocks/cards-repeater/block.json
Due: other

Register Logo Grid with block.json
  inc/blocks/logo-grid.php
  template-parts/acf-blocks/blocks/logo-grid/block.json
  template-parts/acf-blocks/blocks/logo-grid/logo-grid.php
Due: php, other
