Repository WebDevStudios/wd_s: changes, and which lefthook commands are due for each by the changed paths.
All: php, styles, javascript, markdown, other

lefthook.yml:

# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md

pre-commit:
    parallel: true
    commands:
        php:
            glob: '*.php'
            run: ./vendor/bin/phpcs -p -s -v {staged_files} --standard=phpcs.xml.dist
        styles:
            glob: '*.{css,scss}'
            run: npx stylelint {staged_files} -f verbose
        javascript:
            glob: '*.{js,ts,tsx}'
            run: npx eslint {staged_files}
        markdown:
            glob: '*.{md}'
            run: npx markdownlint-cli {staged_files}
        other:
            glob: '*.{yml,json,html}'
            run: npx prettier {staged_files} --write

Updates single.php to look for Template Module
  single.php
Due: php

Adds postcss-cli and template scripts
  package-lock.json
  package.json
Due: other

#747 - Fix markup of scaffolding to add a pseudo-accordion
  inc/scaffolding.php
Due: php

#747 - Add scaffolding styles
  src/scss/views/_scaffolding.scss
  src/scss/views/index.scss
Due: styles

#747 - Remove unused typography elements
  template-parts/scaffolding/scaffolding-typography.php
Due: php

#747 - Add alignfull support to theme
  src/scss/base/_alignment.scss
Due: styles

Adds esbuild
  package-lock.json
  package.json
Due: other

Updates postcss config
  postcss.config.js
Due: javascript

Adds esbuild config
  esbuild.js
Due: javascript

Updates file imports
  src/index.js
  src/scss/blocks/_example.scss
  src/scss/blocks/core/table.css
  src/scss/blocks/example.css
  src/scss/global/_global.scss
  src/scss/global/global.css
Due: styles, javascript

#747 - Add full aligned image cover
  src/scss/views/_scaffolding.scss
  template-parts/scaffolding/scaffolding-media.php
  template-parts/scaffolding/scaffolding-typography.php
Due: php, styles

#747 - Add scrolling nav for easier access
  inc/scaffolding.php
  src/scss/base/_globals.scss
  src/scss/views/_scaffolding.scss
  template-parts/scaffolding/scaffolding-blank.php
  template-parts/scaffolding/scaffolding-buttons.php
  template-parts/scaffolding/scaffolding-elements.php
  template-parts/scaffolding/scaffolding-forms.php
  template-parts/scaffolding/scaffolding-globals.php
  template-parts/scaffolding/scaffolding-icons.php
  template-parts/scaffolding/scaffolding-media.php
  template-parts/scaffolding/scaffolding-typography.php
  template-scaffolding.php
Due: php, styles

Updates esbuild config file
  esbuild.js
Due: javascript

Adds postcss and imagemin packages
  package-lock.json
  package.json
Due: other

Updates scripts
  package-lock.json
  package.json
Due: other

Removes cssnano from postcss
  postcss.config.js
Due: javascript

Updates esbuild config
  esbuild.js
Due: javascript

Removes webpack configs!
  webpack.config.js
  webpack.prod.js
Due: javascript

Updates our scripts/includes/imports
  src/css/tailwind.css
  src/index.js
  src/tailwind.js
Due: styles, javascript

Registers tailwind stylesheet
  inc/scripts.php
Due: php

Adds cssnano back and updates build script
  package-lock.json
  package.json
  postcss.config.js
Due: javascript, other

Removes sass-loader
  package.json
Due: other

Updates image paths
  src/css/template-tags/menus.css
  src/css/template-tags/off-canvas.css
Due: styles

Merges master in
  composer.lock
  inc/extras.php
  inc/scripts.php
  package-lock.json
  package.json
  webpack.config.js
  webpack.prod.js
Due: php, javascript, other

Adds a custom imagemin script
  imagemin.js
Due: javascript

Uses a PR version of imagemin
  package-lock.json
  package.json
Due: other

Updates codeql file
  .github/workflows/codeql-analysis.yml
Due: other

Updates readme
  README.md
Due: none

Removes imagemin-cli
  package.json
Due: other

Adds svgo, updates imagemin
  imagemin.js
  package-lock.json
  package.json
Due: javascript, other

Adds rimraf to clean
  package-lock.json
  package.json
Due: other

Updates SVG scripts
  package.json
Due: other

Adds a start script that was removed
  package.json
Due: other

Adds chokidar for an asset listener
  package-lock.json
  package.json
Due: other

Separates image and svg watch scripts
  package-lock.json
  package.json
Due: other

Reorganizes the template tags functions
  functions.php
  inc/template-tags.php
  inc/template-tags/display_comments.php
  inc/template-tags/display_copyright_text.php
  inc/template-tags/display_mobile_menu.php
  inc/template-tags/display_numeric_pagination.php
  inc/template-tags/display_social_network_links.php
  inc/template-tags/display_svg.php
  inc/template-tags/entry_footer.php
  inc/template-tags/get_svg.php
  inc/template-tags/get_the_excerpt.php
  inc/template-tags/get_the_title.php
  inc/template-tags/posted_on.php
Due: php

Breaks all of the functions in inc/ files out into individual files
  functions.php
  inc/extras.php
  inc/functions/compat.php
  inc/functions/get_attachment_id_from_url.php
  inc/functions/get_categorized_blog.php
  inc/functions/get_custom_logo_url.php
  inc/functions/get_the_excerpt.php
  inc/functions/get_the_title.php
  inc/functions/security.php
  inc/hooks.php
  inc/hooks/add_og_tags.php
  inc/hooks/body_classes.php
  inc/hooks/category_transient_flusher.php
  inc/hooks/content_more_link.php
  inc/hooks/custom_mime_types.php
  inc/hooks/disable_wpautop_for_gutenberg.php
  inc/hooks/display_customizer_footer_scripts.php
  inc/hooks/display_customizer_header_scripts.php
  inc/hooks/excerpt_more.php
  inc/hooks/get_the_content.php
  inc/hooks/include_svg_icons.php
  inc/hooks/remove_archive_title_prefix.php
  inc/scaffolding.php
  inc/scaffolding/display_global_scaffolding_section.php
  inc/scaffolding/display_scaffolding_section.php
  inc/scaffolding/hook_theme_scaffolding.php
  inc/scaffolding/scaffolding_allowed_html.php
  inc/scripts.php
  inc/setup/content_width.php
  inc/setup/preload_assets.php
  inc/setup/preload_scripts.php
  inc/setup/scripts.php
  inc/setup/setup.php
  inc/setup/widgets_init.php
  inc/shortcodes/copyright_year.php
  inc/template-tags/README.md
  page-templates/scaffolding.php
  page-templates/sidebar-right.php
Due: php

Replaced underscores with hyphens in filenames
  inc/functions/get-attachment-id-from-url.php
  inc/functions/get-categorized-blog.php
  inc/functions/get-custom-logo-url.php
  inc/functions/get-the-excerpt.php
  inc/functions/get-the-title.php
  inc/hooks/add-og-tags.php
  inc/hooks/body-classes.php
  inc/hooks/category-transient-flusher.php
  inc/hooks/content-more-link.php
  inc/hooks/custom-mime-types.php
  inc/hooks/disable-wpautop-for-gutenberg.php
  inc/hooks/display-customizer-footer-scripts.php
  inc/hooks/display-customizer-header-scripts.php
  inc/hooks/excerpt-more.php
  inc/hooks/get-the-content.php
  inc/hooks/include-svg-icons.php
  inc/hooks/remove-archive-title-prefix.php
  inc/scaffolding/display-global-scaffolding-section.php
  inc/scaffolding/display-scaffolding-section.php
  inc/scaffolding/hook-theme-scaffolding.php
  inc/scaffolding/scaffolding-allowed-html.php
  inc/setup/content-width.php
  inc/setup/preload-assets.php
  inc/setup/preload-scripts.php
  inc/setup/widgets-init.php
  inc/shortcodes/copyright-year.php
  inc/template-tags/display-comments.php
  inc/template-tags/display-copyright-text.php
  inc/template-tags/display-mobile-menu.php
  inc/template-tags/display-numeric-pagination.php
  inc/template-tags/display-social-network-links.php
  inc/template-tags/display-svg.php
  inc/template-tags/entry-footer.php
  inc/template-tags/get-svg.php
  inc/template-tags/posted-on.php
Due: php

Added doc block comments
  inc/functions/get-attachment-id-from-url.php
  inc/functions/get-categorized-blog.php
  inc/functions/get-custom-logo-url.php
  inc/functions/get-the-excerpt.php
  inc/functions/get-the-title.php
  inc/hooks/add-og-tags.php
  inc/hooks/body-classes.php
  inc/hooks/category-transient-flusher.php
  inc/hooks/content-more-link.php
  inc/hooks/custom-mime-types.php
  inc/hooks/disable-wpautop-for-gutenberg.php
  inc/hooks/display-customizer-footer-scripts.php
  inc/hooks/display-customizer-header-scripts.php
  inc/hooks/excerpt-more.php
  inc/hooks/get-the-content.php
  inc/hooks/include-svg-icons.php
  inc/hooks/remove-archive-title-prefix.php
  inc/scaffolding/display-global-scaffolding-section.php
  inc/scaffolding/display-scaffolding-section.php
  inc/scaffolding/hook-theme-scaffolding.php
  inc/scaffolding/scaffolding-allowed-html.php
  inc/setup/content-width.php
  inc/setup/preload-assets.php
  inc/setup/preload-scripts.php
  inc/setup/scripts.php
  inc/setup/setup.php
  inc/setup/widgets-init.php
  inc/shortcodes/copyright-year.php
  inc/template-tags/display-comments.php
  inc/template-tags/display-copyright-text.php
  inc/template-tags/display-mobile-menu.php
  inc/template-tags/display-numeric-pagination.php
  inc/template-tags/display-social-network-links.php
  inc/template-tags/display-svg.php
  inc/template-tags/entry-footer.php
  inc/template-tags/get-svg.php
  inc/template-tags/posted-on.php
Due: php
