Repository WebDevStudios/wd_s: changes, and which lefthook commands are due for each by the changed paths.
All: php, styles, javascript, markdown, other

lefthook.yml:

# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md

pre-commit:
    parallel: true
    commands:
        php:
            glob: '*.php'
            run: ./vendor/bin/phpcs -p -s -v {staged_files} --standard=phpcs.xml.dist
        styles:
            glob: '*.{css,scss}'
            run: npx stylelint {staged_files} -f verbose
        javascript:
            glob: '*.{js,ts,tsx}'
            run: npx eslint {staged_files}
        markdown:
            glob: '*.{md}'
            run: npx markdownlint-cli {staged_files}
        other:
            glob: '*.{yml,json,html}'
            run: npx prettier {staged_files} --write

feat: add global button style
  src/scss/blocks/core/_html.scss
  src/scss/global/_button.scss
  src/scss/global/index.scss
Due: styles

feat: COWP-67 and COWP-67 sidebar for post/page
  inc/setup/widgets-init.php
  sidebar.php
Due: php

feat: COWP-68 footer widget area with flexible display
  footer.php
  inc/setup/widgets-init.php
  src/scss/templates/_footer-widget.scss
  src/scss/templates/_footer.scss
  src/scss/templates/index.scss
Due: php, styles

feat: register template to post type
  page-templates/no-header-footer.php
  page-templates/no-title.php
  page-templates/sidebar-left.php
  page-templates/sidebar-right.php
Due: php

feat: post basic style
  src/scss/templates/_left-sidebar.scss
  src/scss/templates/_posts.scss
  src/scss/templates/_right-sidebar.scss
Due: styles

feat: edit link spacing
  src/scss/templates/_posts.scss
Due: styles

feat: listing style
  src/scss/blocks/core/_listing.scss
  src/scss/templates/_posts.scss
  src/scss/templates/_widget.scss
  src/scss/templates/index.scss
Due: styles

feat: header & footer content spacing
  src/scss/global/_global.scss
  src/scss/templates/_posts.scss
Due: styles

fix: don't need edge spacing
  src/scss/critical/_header.scss
  src/scss/templates/_footer.scss
  src/scss/templates/_left-sidebar.scss
  src/scss/templates/_posts.scss
  src/scss/templates/_right-sidebar.scss
  src/scss/templates/_widget.scss
Due: styles

feat: update prefix of patterns
  functions.php
  inc/blocks/patterns/columns.php
  inc/blocks/patterns/contact.php
  inc/blocks/patterns/cover.php
  inc/blocks/patterns/cta.php
  inc/blocks/patterns/events.php
  inc/blocks/patterns/faq.php
  inc/blocks/patterns/footer.php
  inc/blocks/patterns/gallery.php
  inc/blocks/patterns/header.php
  inc/blocks/patterns/hero.php
  inc/blocks/patterns/list.php
  inc/blocks/patterns/logos.php
  inc/blocks/patterns/numbers.php
  inc/blocks/patterns/pages.php
  inc/blocks/patterns/pricing.php
  inc/blocks/patterns/query.php
  inc/blocks/patterns/single-page.php
  inc/blocks/patterns/team.php
  inc/blocks/patterns/testimonials.php
  inc/blocks/patterns/text-image.php
  inc/blocks/patterns/text.php
  inc/blocks/patterns/video-audio.php
Due: php

Switch to evilmartians lefthook
  package-lock.json
  package.json
Due: other

Add lefthook install
  package.json
Due: other

Actually use NPM 7 to build
  .github/workflows/assertions.yml
  index.php
Due: php, other

Fix index (accidentally committed test errror)
  index.php
Due: php

Using old package-lock b/c prettier is crazy
  package-lock.json
Due: other

Allow composer/installers 1 & 2, add sorting
  composer.json
  composer.lock
Due: other

Ignore auth.json
  .github/workflows/deploy.yml
Due: other

Ignore wd_s.zip
  .github/workflows/deploy.yml
Due: other

WDSUS-2 - Add project custom colors
  .vscode/settings.json
Due: other

WDSUS-2 Add khleomix as code owner
  .github/CODEOWNERS
Due: none

WDSUS-2 - Update Pull Request template and fix linting errors
  .github/CODEOWNERS
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

WDSUS-3 - Update theme screenshot
  screenshot.png
Due: none

WDSUS-3 - Update version to 4.0.0
  style.css
Due: styles

WDSUS-3 - Update node and php versions
  .nvmrc
  package.json
Due: other

WDSUS-3 - Update eslint-plugin
  package-lock.json
  package.json
Due: other

WDSUS-3 - Update dependencies
  package-lock.json
  package.json
Due: other

WDSUS-3 - Update devDependencies
  package-lock.json
  package.json
Due: other

WDSUS-3 - Update composer require-dev
  composer.json
  composer.lock
Due: other

WDSUS-3 - Add lint:info script
  composer.json
  package.json
Due: other

WDSUS-3 - Update npm script for report and lint
  composer.json
  package.json
Due: other

Change codeowner
  .github/CODEOWNERS
Due: none

WDSUS-3 - Update README
  README.md
Due: none

WDSUS-3 - Update versions
  .github/workflows/assertions.yml
  .github/workflows/deploy.yml
  phpcs.xml.dist
  style.css
Due: styles, other

WDSUS-3 - Update PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

WDSUS-5 - Add top level style - color
  theme.json
Due: other

Remove scss directory
  src/scss/blocks/_example.scss
  src/scss/blocks/core/_captions.scss
  src/scss/blocks/core/_code.scss
  src/scss/blocks/core/_freeform.scss
  src/scss/blocks/core/_gallery.scss
  src/scss/blocks/core/_heading.scss
  src/scss/blocks/core/_html.scss
  src/scss/blocks/core/_image.scss
  src/scss/blocks/core/_list.scss
  src/scss/blocks/core/_paragraph.scss
  src/scss/blocks/core/_pullquote.scss
  src/scss/blocks/core/_quote.scss
  src/scss/blocks/core/_spacer.scss
  src/scss/blocks/core/_table.scss
  src/scss/blocks/core/index.scss
  src/scss/blocks/index.scss
  src/scss/critical.scss
  src/scss/critical/_header.scss
  src/scss/critical/_menus.scss
  src/scss/critical/_mobile-menus.scss
  src/scss/critical/index.scss
  src/scss/global/_global.scss
  src/scss/global/index.scss
  src/scss/index.scss
  src/scss/tailwind.scss
  src/scss/template-tags/_forms.scss
  src/scss/template-tags/_modals.scss
  src/scss/template-tags/_off-canvas.scss
  src/scss/template-tags/_pagination.scss
  src/scss/template-tags/_svg-sprite-wrapper.scss
  src/scss/template-tags/index.scss
  src/scss/templates/_comments.scss
  src/scss/templates/_footer.scss
  src/scss/templates/_posts.scss
  src/scss/templates/_scaffolding.scss
  src/scss/templates/index.scss
  src/scss/wordpress-global/_admin.scss
  src/scss/wordpress-global/_alignment.scss
  src/scss/wordpress-global/index.scss
Due: styles

WDSUS-5 - Fix undefined var error
  searchform.php
Due: php

WDSUS-5 - Change text input to search and add default search style
  searchform.php
  src/scss/template-tags/_forms.scss
Due: php, styles
