Repository WebDevStudios/wd_s: changes, and which lefthook commands are due for each by the changed paths.
All: php, styles, javascript, markdown, other

php:
  run: ./vendor/bin/phpcs -p -s -v {staged_files} --standard=phpcs.xml.dist

styles:
  run: npx stylelint {staged_files} -f verbose

javascript:
  run: npx eslint {staged_files}

markdown:
  run: npx markdownlint-cli {staged_files}

other:
  run: npx prettier {staged_files} --write

Bumps prettier version
  package-lock.json
  package.json
Due: other

Fixes an eslint spacing issue
  src/js/template-tags/modal.js
Due: javascript

Fixes config file eslint issues
  tailwind.config.js
Due: javascript

Package bump
  package-lock.json
Due: other

Removes .css extensions in index files
  src/css/blocks/_index.css
  src/css/blocks/core/_index.css
  src/css/blocks/core/index.css
  src/css/blocks/index.css
  src/css/critical/_index.css
  src/css/critical/index.css
  src/css/styles.css
  src/css/template-tags/_index.css
  src/css/template-tags/index.css
  src/css/templates/index.css
  src/css/wordpress-global/index.css
Due: styles

Removes underscores in JS index files
  src/critical.js
  src/index.js
Due: javascript

Updated to use either namespaces or functions as appropriate
  inc/functions/get-svg.php
  inc/setup/preload-assets.php
  inc/template-tags/print-copyright-text.php
  inc/template-tags/print-entry-footer.php
  inc/template-tags/print-social-network-links.php
  inc/template-tags/print-svg.php
  template-parts/content-search.php
  template-parts/content.php
  template-parts/scaffolding/scaffolding-globals.php
  template-parts/scaffolding/scaffolding-icons.php
  template-parts/scaffolding/scaffolding-media.php
Due: php

Updated package lock
  package-lock.json
Due: other

Add svg-transform-loader support
  package-lock.json
  package.json
  webpack.config.js
Due: javascript, other

Add 'use function' instead of declaring the namespace again; remove namespace declaration where unnecessary
  template-parts/content-none.php
  template-parts/content-page.php
  template-parts/content-password-protected.php
  template-parts/scaffolding/scaffolding-buttons.php
  template-parts/scaffolding/scaffolding-elements.php
  template-parts/scaffolding/scaffolding-forms.php
  template-parts/scaffolding/scaffolding-icons.php
  template-parts/scaffolding/scaffolding-typography.php
Due: php

Change 'get_the_content' function to 'get_post_content' to avoid conflicts with built-in function name
  inc/functions/get-svg.php
  inc/hooks/get-post-content.php
  inc/template-tags/print-copyright-text.php
Due: php

Add missing namespaces
  inc/template-tags/print-copyright-text.php
  inc/template-tags/print-entry-footer.php
  inc/template-tags/print-social-network-links.php
  inc/template-tags/print-svg.php
Due: php

Fix spacing issues
  inc/customizer/class-text-editor-custom-control.php
  inc/hooks/add-og-tags.php
  inc/scaffolding/print-global-scaffolding-section.php
Due: php

Remove namespace from backward compatibility function
  inc/functions/compat.php
Due: php

Add missing nav function for scaffolding
  inc/scaffolding/hook-theme-scaffolding.php
Due: php

Add missing namespace
  inc/setup/preload-assets.php
Due: php

Fix attribute escape function
  template-parts/scaffolding/scaffolding-blank.php
  template-parts/scaffolding/scaffolding-buttons.php
  template-parts/scaffolding/scaffolding-elements.php
  template-parts/scaffolding/scaffolding-forms.php
  template-parts/scaffolding/scaffolding-globals.php
  template-parts/scaffolding/scaffolding-icons.php
  template-parts/scaffolding/scaffolding-media.php
  template-parts/scaffolding/scaffolding-typography.php
Due: php

Fix spacing issues
  template-parts/content-none.php
  template-parts/content-page.php
  template-parts/content-password-protected.php
  template-parts/content-search.php
  template-parts/content.php
Due: php

Remove non-required namespace function declarations
  inc/setup/preload-assets.php
  inc/template-tags/print-copyright-text.php
  inc/template-tags/print-entry-footer.php
  inc/template-tags/print-social-network-links.php
  inc/template-tags/print-svg.php
Due: php

Add namespace function declaration
  template-parts/scaffolding/scaffolding-icons.php
Due: php

Fix namespace declaration
  inc/functions/get-svg.php
Due: php

Update text domain
  template-parts/content.php
Due: php

Update spacing
  template-parts/content-none.php
  template-parts/content-page.php
Due: php

Update prettier config to handle wp-scripts format correctly
  .prettierrc.js
Due: javascript

Adds pa11y-ci
  .vscode/snipsnap.code-snippets
  package-lock.json
  package.json
Due: other

Remove trailing slash on Environment URLs
  package-lock.json
  package.json
Due: other

Revert SCSS back to single quotes
  .prettierrc.js
Due: javascript

Format SCSS with updated .prettierrc.js
  src/scss/blocks/core/_image.scss
  src/scss/blocks/core/_list.scss
  src/scss/blocks/core/_table.scss
  src/scss/critical/_menus.scss
  src/scss/critical/_mobile-menus.scss
  src/scss/template-tags/_forms.scss
  src/scss/template-tags/_modals.scss
  src/scss/template-tags/_off-canvas.scss
  src/scss/templates/_posts.scss
  src/scss/templates/_scaffolding.scss
  src/scss/wordpress-global/_alignment.scss
Due: styles

Update .prettierrc.js in order to align prettier & stylelint (#882)
  .prettierrc.js
  src/scss/blocks/core/_image.scss
  src/scss/blocks/core/_list.scss
  src/scss/blocks/core/_table.scss
  src/scss/critical/_menus.scss
  src/scss/critical/_mobile-menus.scss
  src/scss/template-tags/_forms.scss
  src/scss/template-tags/_modals.scss
  src/scss/template-tags/_off-canvas.scss
  src/scss/templates/_posts.scss
  src/scss/templates/_scaffolding.scss
  src/scss/wordpress-global/_alignment.scss
Due: styles, javascript

Rebuilds package lock file
  package-lock.json
Due: other

Adds pa11y-ci (#881)
  .vscode/snipsnap.code-snippets
  package-lock.json
  package.json
Due: other

Adds Oliver as a codeowner
  .github/CODEOWNERS
Due: none

Adds svg-transform packages
  package-lock.json
  package.json
  postcss.config.js
  webpack.config.js
Due: javascript, other

Updates gitignore to ignore the pa11y report dir
  .gitignore
Due: none

Adds pa11y-ci-html-reporter and updates scripts
  package-lock.json
  package.json
Due: other

Updates codeowners
  .github/CODEOWNERS
Due: none

Fixes get_acf_fields function
  template-parts/blocks/accordion.php
  template-parts/blocks/cards-manual.php
  template-parts/blocks/logo-grid.php
  template-parts/blocks/quotes.php
  template-parts/blocks/side-by-side.php
  template-parts/blocks/tabs.php
Due: php

Path conditions:
  php: any of: *.php
  styles: any of: *.{css,scss}
  javascript: any of: *.{js,ts,tsx}
  markdown: any of: *.{md}
  other: any of: *.{yml,json,html}
