Repository WebDevStudios/wd_s: changes, and which lefthook commands are due for each by the changed paths.
All: php, styles, javascript, markdown, other

php:
  run: ./vendor/bin/phpcs -p -s -v {staged_files} --standard=phpcs.xml.dist

styles:
  run: npx stylelint {staged_files} -f verbose

javascript:
  run: npx eslint {staged_files}

markdown:
  run: npx markdownlint-cli {staged_files}

other:
  run: npx prettier {staged_files} --write

Clean up some more thangs
  inc/acf-block-functions/register-acf-blocks.php
  inc/blocks/accordion.php
  inc/blocks/cards-manual.php
  inc/blocks/logo-grid.php
  inc/blocks/quotes.php
  inc/blocks/side-by-side.php
  inc/blocks/tabs.php
Due: php

Reorganize the ABS files
  functions.php
  inc/acf-block-functions/get-element.php
  inc/acf-block-functions/get-module.php
  inc/functions/get-acf-fields.php
  inc/functions/get-formatted-args.php
  inc/functions/get-formatted-atts.php
  inc/functions/get-validate-args.php
  inc/hooks/register-acf-blocks.php
  inc/template-tags/print-element.php
  inc/template-tags/print-module.php
Due: php

Adds alpine script
  inc/setup/scripts.php
Due: php

Updated Package lock
  package-lock.json
Due: other

Formatting
  acf-json/group_59416d894b7c7.json
  acf-json/group_61e58e490f037.json
  src/js/template-tags/modal.js
  src/scss/blocks/index.scss
  tailwind.config.js
Due: styles, javascript, other

updated various dependencies
  package-lock.json
  package.json
Due: other

Fixes scaffolding
  inc/scaffolding/hook-theme-scaffolding.php
  inc/scaffolding/print-scaffolding-section.php
  inc/scaffolding/print-theme-scaffolding-nav.php
Due: php

Adds esbuild glob plugin
  package-lock.json
  package.json
Due: other

Includes glob plugin and adds glob path
  esbuild.js
Due: javascript

Creates a sample block setup for illustration
  src/blocks/sample-block/block.css
  src/blocks/sample-block/block.js
  src/blocks/sample-block/index.js
Due: styles, javascript

Removes glob work – dies on watch
  esbuild.js
  package-lock.json
  package.json
  src/blocks/sample-block/block.css
  src/blocks/sample-block/block.js
  src/blocks/sample-block/index.js
Due: styles, javascript, other

Fix scaffolding expand/collapse sections
  inc/scaffolding/print-scaffolding-section.php
Due: php

Fix scaffolding nav
  inc/scaffolding/hook-theme-scaffolding.php
  inc/scaffolding/print-theme-scaffolding-nav.php
Due: php

Feature/pa11y html integration (#889)
  .gitignore
  package-lock.json
  package.json
Due: other

Update phpcs rule to capture namespacing
  phpcs.xml.dist
Due: none

Update handle prefixes
  inc/setup/scripts.php
Due: php

update _s.pot -> wd_s.pot for consistency
  composer.json
Due: other

Removed the old post_date function AGAIN
  inc/template-tags/print-posted-on.php
  template-parts/content-search.php
  template-parts/content.php
Due: php

Updates excerpt function name
  inc/functions/get-trimmed-excerpt.php
Due: php

Include all files with a function using namespacing
  functions.php
Due: php

Define function prefix for functions in global namespace
  phpcs.xml.dist
Due: none

Adds glob and sample block back in
  esbuild.js
  src/blocks/sample-block/block.css
  src/blocks/sample-block/block.js
  src/blocks/sample-block/index.js
Due: styles, javascript

Update function and filename for clarity
  inc/shortcodes/create-shortcode-copyright-year.php
Due: php

Removes an extra step in the process
  esbuild.js
Due: javascript

Update _wd_s_ -> wd_s_
  README.md
  inc/customizer/assets/scripts/livepreview.js
  inc/customizer/customizer.php
  inc/customizer/sections.php
  inc/customizer/settings.php
  inc/functions/get-categorized-blog.php
  inc/hooks/category-transient-flusher.php
  inc/hooks/print-customizer-footer-scripts.php
  inc/hooks/print-customizer-header-scripts.php
  inc/scaffolding/hook-theme-scaffolding.php
  inc/template-tags/print-copyright-text.php
  inc/template-tags/print-social-network-links.php
  page-templates/scaffolding.php
  template-parts/scaffolding/scaffolding-elements.php
Due: php, javascript

Fixes ability to save content in Copyright field in theme customizer
  inc/customizer/settings.php
Due: php

Fixes functions for printing customizer header and footer scripts to use the custom function (get_post_content) to get content instead of wordpress default get_the_content
  inc/hooks/print-customizer-footer-scripts.php
  inc/hooks/print-customizer-header-scripts.php
Due: php

Updates comments about find and replace to refer to readme file.
  inc/setup/setup.php
Due: php

Updates readme with complete find and replace list
  README.md
Due: none

Update tested up to version
  style.css
Due: styles

Remove backwards-compat wp_body_open() since wd_s specifies WP 5.6+
  header.php
  inc/functions/compat.php
Due: php

Add ACF stubs as dev dependancy for Intelephense
  composer.json
  composer.lock
Due: other

updated various dependencies and add support for php 8.0
  composer.json
  composer.lock
Due: other

Bump up plugin version
  package.json
  style.css
Due: styles, other

updated PHP version on assertions and deploy yml files
  .github/workflows/assertions.yml
  .github/workflows/deploy.yml
Due: other

Fix script handle prefix
  inc/customizer/class-text-editor-custom-control.php
  inc/customizer/customizer.php
Due: php

Update version from 2.1.0 -> 3.0.0
  package-lock.json
  package.json
  style.css
Due: styles, other

Re-add version to package.json
  package.json
Due: other

Update NPM packages in bulk
  package-lock.json
  package.json
Due: other

fix::testing a fix to retain sub directories for imagemin.
  imagemin.js
  package-lock.json
  package.json
Due: javascript, other

Path conditions:
  php: any of: *.php
  styles: any of: *.{css,scss}
  javascript: any of: *.{js,ts,tsx}
  markdown: any of: *.{md}
  other: any of: *.{yml,json,html}
