Repository WebDevStudios/wd_s: changes, and which lefthook commands are due for each by the changed paths.
All: php, styles, javascript, markdown, other

lefthook.yml:

# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md

pre-commit:
    parallel: true
    commands:
        php:
            glob: '*.php'
            run: ./vendor/bin/phpcs -p -s -v {staged_files} --standard=phpcs.xml.dist
        styles:
            glob: '*.{css,scss}'
            run: npx stylelint {staged_files} -f verbose
        javascript:
            glob: '*.{js,ts,tsx}'
            run: npx eslint {staged_files}
        markdown:
            glob: '*.{md}'
            run: npx markdownlint-cli {staged_files}
        other:
            glob: '*.{yml,json,html}'
            run: npx prettier {staged_files} --write

don't deploy .git directory
  .github/workflows/deploy.yml
Due: other

dependnecy bump
  package-lock.json
  package.json
Due: other

use npm 7
  .github/workflows/assertions.yml
  .github/workflows/deploy.yml
Due: other

Ignores generated font files on start/watch
  webpack.config.js
Due: javascript

use native ubuntu zip instead
  .github/workflows/deploy.yml
Due: other

update link to downloadable zip. mention npm 7
  README.md
Due: none

fix indent rule
  .markdownlint.json
Due: other

Update functions.php to only include files from inc folder (#676)
  functions.php
  inc/setup.php
Due: php

Adds new step to find/replace setup
  README.md
Due: none

Removes some spaces
  src/js/global/index.js
  src/js/index.js
  src/scss/blocks/index.scss
Due: styles, javascript

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: other

Renames global dirs for consistency
  src/scss/global/_global.scss
  src/scss/index.scss
  src/scss/wordpress-global/_admin.scss
  src/scss/wordpress-global/_alignment.scss
  src/scss/wordpress-global/index.scss
Due: styles

Removes some styles already in tailwind config
  src/scss/blocks/core/_heading.scss
  src/scss/global/_global.scss
Due: styles

Adjusts core table block styles
  src/scss/blocks/core/_table.scss
Due: styles

check in security.php
  inc/security.php
Due: php

include security.php
  functions.php
Due: php

bump wordpress scripts to 16.1.4
  package-lock.json
  package.json
Due: other

bump browser-sync to 2.27.3
  package-lock.json
  package.json
Due: other

bump stylelint-webpack-plugin to 2.2.2
  package-lock.json
  package.json
Due: other

bump mini-css-extract-plugin to 1.6.2
  package-lock.json
  package.json
Due: other

bump tailwind to 2.2.4
  package-lock.json
  package.json
Due: other

update function name
  inc/security.php
Due: php

better description
  inc/security.php
Due: php

Removes partial - wp-block-paragraph never exists
  src/scss/blocks/core/_paragraph.scss
  src/scss/blocks/core/index.scss
Due: styles

Removes comments – these items work as expected
  src/scss/blocks/core/_code.scss
Due: styles

Adjusts list partial styles
  src/scss/blocks/core/_list.scss
Due: styles

Adds menu class to social icons menu
  inc/template-tags.php
Due: php

dependency bump
  package-lock.json
  package.json
Due: other

bump
  .github/workflows/assertions.yml
  .github/workflows/deploy.yml
Due: other

Removes some completed todos
  src/scss/blocks/core/_gallery.scss
  src/scss/blocks/core/_heading.scss
Due: styles

Moves caption styles to their own partial
  src/scss/blocks/core/_captions.scss
  src/scss/blocks/core/_image.scss
  src/scss/blocks/core/index.scss
Due: styles

Removes some todos, updates table captions
  src/scss/blocks/core/_captions.scss
  src/scss/blocks/core/_pullquote.scss
  src/scss/blocks/core/_quote.scss
  src/scss/blocks/core/_table.scss
Due: styles

Fixes JS linting warnings
  src/js/template-tags/mobile-menu.js
  src/js/template-tags/navigation-primary.js
Due: javascript

Adds fix for background image CSS breaking
  webpack.config.js
Due: javascript

Adds file-loader support for .webp and .svg
  webpack.config.js
Due: javascript

Enables JIT mode
  tailwind.config.js
Due: javascript

Updates file loader to resolve a breaking issue
  webpack.config.js
Due: javascript

Updates version of prettier
  package.json
Due: other
