Repository WebDevStudios/wd_s: changes, and which lefthook commands are due for each by the changed paths.
All: php, styles, javascript, markdown, other

lefthook.yml:

# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md

pre-commit:
    parallel: true
    commands:
        php:
            glob: '*.php'
            run: ./vendor/bin/phpcs -p -s -v {staged_files} --standard=phpcs.xml.dist
        styles:
            glob: '*.{css,scss}'
            run: npx stylelint {staged_files} -f verbose
        javascript:
            glob: '*.{js,ts,tsx}'
            run: npx eslint {staged_files}
        markdown:
            glob: '*.{md}'
            run: npx markdownlint-cli {staged_files}
        other:
            glob: '*.{yml,json,html}'
            run: npx prettier {staged_files} --write

Removes the empty babel declaration
  package.json
Due: other

Updates lock file
  package-lock.json
Due: other

Reverts double quotes to single quotes
  src/scss/blocks/core/index.scss
  src/scss/blocks/index.scss
  src/scss/critical.scss
  src/scss/critical/_menus.scss
  src/scss/critical/_mobile-menus.scss
  src/scss/critical/index.scss
  src/scss/global/index.scss
  src/scss/index.scss
  src/scss/template-tags/_off-canvas.scss
  src/scss/template-tags/index.scss
  src/scss/templates/index.scss
  src/scss/wordpress-global/index.scss
Due: styles

Adds empty line rule to be more consistent
  .stylelintrc.json
Due: other

Adds single quote rule
  .stylelintrc.json
Due: other

Updates spacing in stylesheets
  .github/workflows/codeql-analysis.yml
  src/scss/blocks/core/_gallery.scss
  src/scss/blocks/core/_image.scss
  src/scss/blocks/core/_list.scss
  src/scss/critical/_header.scss
  src/scss/critical/_menus.scss
  src/scss/critical/_mobile-menus.scss
  src/scss/template-tags/_modals.scss
  src/scss/template-tags/_off-canvas.scss
  src/scss/templates/_comments.scss
  src/scss/templates/_footer.scss
  src/scss/templates/_posts.scss
Due: styles, other

Tweaks the active/focus states of accordions
  src/scss/templates/_scaffolding.scss
Due: styles

Linting fixes on partials
  src/scss/templates/_scaffolding.scss
  src/scss/wordpress-global/_alignment.scss
Due: styles

changed namespace to WebDevStudios/wd_s
  inc/functions/return-svg.php
Due: php

renaming of functions/files
  archive.php
  footer.php
  inc/customizer/sections.php
  inc/functions/get-attachment-id-from-url.php
  inc/functions/get-categorized-blog.php
  inc/functions/get-custom-logo-url.php
  inc/functions/get-svg.php
  inc/functions/get-the-excerpt.php
  inc/functions/get-the-title.php
  inc/functions/security.php
  inc/hooks/print-customizer-footer-scripts.php
  inc/hooks/print-customizer-header-scripts.php
  inc/scaffolding/display-global-scaffolding-section.php
  inc/scaffolding/display-scaffolding-section.php
  inc/setup/preload-assets.php
  inc/template-tags/print-comments.php
  inc/template-tags/print-copyright-text.php
  inc/template-tags/print-entry-footer.php
  inc/template-tags/print-mobile-menu.php
  inc/template-tags/print-numeric-pagination.php
  inc/template-tags/print-posted-on.php
  inc/template-tags/print-social-network-links.php
  inc/template-tags/print-svg.php
  index.php
  page-templates/sidebar-right.php
  single.php
  template-parts/content.php
  template-parts/scaffolding/scaffolding-buttons.php
  template-parts/scaffolding/scaffolding-elements.php
  template-parts/scaffolding/scaffolding-forms.php
  template-parts/scaffolding/scaffolding-globals.php
  template-parts/scaffolding/scaffolding-icons.php
  template-parts/scaffolding/scaffolding-media.php
  template-parts/scaffolding/scaffolding-typography.php
Due: php

fixed typo on __return_false
  inc/functions/security.php
Due: php

Fixes some JS linting issues
  src/js/template-tags/modal.js
  tailwind.config.js
Due: javascript

Replaces old namespacing
  inc/functions/get-svg.php
Due: php

Renames theme get_the_title function
  inc/functions/get-title.php
Due: php

Cleans up namespacing in template tags
  template-parts/content-search.php
  template-parts/content.php
Due: php

More function and namespace updates...
  inc/functions/get-excerpt.php
  inc/functions/get-svg.php
  inc/scaffolding.php
  inc/scaffolding/print-global-scaffolding-section.php
  inc/scaffolding/print-scaffolding-section.php
  inc/scaffolding/print-theme-scaffolding-nav.php
  inc/scripts.php
  inc/setup/critical-css.php
  inc/template-tags.php
  inc/template-tags/print-post-author.php
  inc/template-tags/print-post-date.php
  inc/template-tags/print-social-network-links.php
  search.php
  template-parts/content-search.php
  template-parts/scaffolding/scaffolding-media.php
Due: php

Renames the title and excerpt functions
  inc/functions/get-trimmed-excerpt.php
  inc/functions/get-trimmed-title.php
Due: php

chore: Update for Composer 2.0+
  composer.json
  composer.lock
Due: other

chore: Update for Composer 2.0+ (#873)
  composer.json
  composer.lock
Due: other

Adds allow-plugins to composer
  composer.json
Due: other

Separates out critical CSS
  esbuild.js
  src/critical.js
  src/css/critical/_index.css
  src/css/critical/header.css
  src/css/critical/menus.css
  src/css/critical/mobile-menus.css
  src/css/template-tags/_index.css
  src/css/templates/_index.css
Due: styles, javascript

Enqueues critical CSS
  inc/scripts.php
Due: php

Replaces translator comments
  inc/template-tags.php
Due: php

Bumps composer
  composer.json
Due: other

Fixes screen reader output on edit link
  inc/template-tags.php
Due: php

Creates a top-level page template
  page.php
Due: php

Replaces edit snippet with template tag on page
  template-parts/content-page.php
Due: php

Bumps packages
  package-lock.json
  package.json
Due: other

Updates Tailwind config for v3
  tailwind.config.js
Due: javascript

Updates postcss config with Tailwind nesting
  postcss.config.js
Due: javascript

Composer updates
  composer.lock
Due: none

Updates stylelint rules to match main
  .stylelintrc.json
Due: other

Updates stylelint ignore
  .stylelintignore
Due: none

Updates VS Code settings
  .vscode/settings.json
Due: other

Reverts stylelintignore change
  .stylelintignore
Due: none

Adds WP ESLint package
  package-lock.json
  package.json
Due: other
