Repository WebDevStudios/wd_s: changes, and which lefthook commands are due for each by the changed paths.
All: php, styles, javascript, markdown, other

php:
  run: ./vendor/bin/phpcs -p -s -v {staged_files} --standard=phpcs.xml.dist

styles:
  run: npx stylelint {staged_files} -f verbose

javascript:
  run: npx eslint {staged_files}

markdown:
  run: npx markdownlint-cli {staged_files}

other:
  run: npx prettier {staged_files} --write

Simplify return for content getter
  inc/hooks.php
Due: php

Return status of delete_transisent in transient deleter
  inc/hooks.php
Due: php

Simplify return by returning var, rather than setting and returning
  inc/scaffolding.php
Due: php

Switch to short array syntax
  inc/template-tags.php
Due: php

Simplify copyright year output
  inc/template-tags.php
Due: php

Simplify category count checker
  inc/extras.php
Due: php

Use esc_attr rather than esc_html where HTML isn't expected]
  inc/customizer/settings.php
  inc/template-tags.php
Due: php

Simplify multiline statements
  inc/template-tags.php
  template-parts/content-password-protected.php
Due: php

Check for equals null rather than is_null
  inc/template-tags.php
Due: php

Reorder classes
  inc/template-tags.php
Due: php

Expand array to multiple lines
  inc/customizer/settings.php
  inc/template-tags.php
Due: php

Use explicit variable expansion
  inc/extras.php
Due: php

Clean up Text_Editor_Custom_Control, mark as final, and change script output count to boolean
  inc/customizer/class-text-editor-custom-control.php
Due: php

Remove unused vars and add defaults if build file can't be found
  inc/scripts.php
Due: php

Fix indentation
  comments.php
  header.php
  inc/scaffolding.php
  inc/template-tags.php
  index.php
  template-parts/content-search.php
  template-parts/content.php
Due: php

Remove unused vars and add defaults if build file can't be found (#675)
  inc/scripts.php
Due: php

Update functions.php to only include files from inc/. Add inc/setup.php to handle all theme set up.
  functions.php
  inc/setup.php
Due: php

Change wpautop disabling funciton to remove the filter rather than applying/not applying wpautop
  inc/hooks.php
Due: php

Move check for comments being open & if comments, then calling comments_template() to a template tag
  inc/template-tags.php
  single.php
  template-sidebar-right.php
Due: php

Add escaping to get_the_title
  comments.php
  inc/template-tags.php
Due: php

Add escaping to get_the_password_form()
  template-parts/content-password-protected.php
Due: php

Remove duplicate id of 'main'
  template-sidebar-right.php
Due: php

Update template-sidebar-right.php
  template-sidebar-right.php
Due: php

Update style.css
  style.css
Due: styles

Update _s -> wd_s to match theme name
  style.css
Due: styles

Update asset build path include to use dirname() rather than ../
  inc/scripts.php
Due: php

Move .phpcs.xml to phpcs.xml.dist. This allows overriding phpcs locally with a phpcs.xml file if needed. The path to the standard was removed from the composer commands as it will default to it
  composer.json
  phpcs.xml.dist
Due: other

Update get_the_date() to use DATE_W3C
  inc/template-tags.php
Due: php

Update url in header profile rel link to be https
  header.php
Due: php

Update lefthook commands
  lefthook.yml
Due: other

Update .nvmrc to use version 16
  .nvmrc
Due: none

Remove wordpres/prettier-config version
  package-lock.json
  package.json
Due: other

Update default deps for asset file when built file can't load
  inc/scripts.php
Due: php

remove implicit configs
  lefthook.yml
Due: other

dependnecy bump
  package-lock.json
  package.json
Due: other

use npm 7
  .github/workflows/assertions.yml
  .github/workflows/deploy.yml
Due: other

don't deploy .git directory
  .github/workflows/deploy.yml
Due: other

Drop useless function_exists check
  inc/setup.php
Due: php

add zip action
  .github/workflows/deploy.yml
Due: other

Add spacing & standardize line breaks
  archive.php
  footer.php
  header.php
  inc/customizer/panels.php
  inc/customizer/sections.php
  inc/customizer/settings.php
  inc/extras.php
  inc/hooks.php
  inc/scaffolding.php
  inc/scripts.php
  inc/template-tags.php
  index.php
  single.php
  template-parts/content-none.php
  template-parts/content-page.php
  template-parts/content-password-protected.php
  template-parts/content-search.php
  template-parts/content.php
  template-scaffolding.php
  template-sidebar-right.php
Due: php

Path conditions:
  php: any of: *.php
  styles: any of: *.{css,scss}
  javascript: any of: *.{js,ts,tsx}
  markdown: any of: *.{md}
  other: any of: *.{yml,json,html}
