Repository WebDevStudios/wd_s: changes, and which lefthook commands are due for each by the changed paths.
All: php, styles, javascript, markdown, other

php:
  run: ./vendor/bin/phpcs -p -s -v {staged_files} --standard=phpcs.xml.dist

styles:
  run: npx stylelint {staged_files} -f verbose

javascript:
  run: npx eslint {staged_files}

markdown:
  run: npx markdownlint-cli {staged_files}

other:
  run: npx prettier {staged_files} --write

WDSUS-2 - Bump @evilmartians/lefthook
  composer.lock
  package-lock.json
  package.json
Due: other

WDSUS-2 - Bump packages to latest versions
  package-lock.json
  package.json
Due: other

WDSUS-25 - Update Node/NPM to 18/9
  .github/workflows/assertions.yml
  .github/workflows/deploy.yml
  .nvmrc
  README.md
  package.json
Due: other

WDSUS-27 - Add function to reorder block categories and have WDS blocks show first
  inc/hooks/reorder-block-categories.php
Due: php

WDSUS-26 - Add patterns in tailwind config
  tailwind.config.js
Due: javascript

WDS-26 - Register custom patterns category
  inc/hooks/register-block-pattern-category.php
Due: php

WDSUS-26 - Remove default patterns
  inc/hooks/register-block-pattern-category.php
Due: php

removed CSS files | fixed JS file inclusion | set block category
  blocks/call-to-action/block.json
  blocks/call-to-action/editor.css
  blocks/call-to-action/editor.js
  blocks/call-to-action/index.js
  blocks/call-to-action/script.asset.php
  blocks/call-to-action/script.js
  blocks/call-to-action/style.css
  inc/wpcli/block-starter/block.json
  inc/wpcli/block-starter/editor.asset.php
  inc/wpcli/block-starter/editor.css
  inc/wpcli/block-starter/editor.js
  inc/wpcli/block-starter/script.asset.php
  inc/wpcli/block-starter/script.js
  inc/wpcli/block-starter/style.css
  inc/wpcli/class-blocks-scaffold.php
Due: php, styles, javascript, other

test exlude acf json files
  acf-json/group_6346c08d323e8.json
Due: other

properly exclude generated ACF field groups (otherwise changes to field groups stop commits)
  lefthook.yml
Due: other

WDSUS-7 - Change CTA block category
  blocks/call-to-action/block.json
Due: other

WDSUS-26 - Remove editor font sizes, will be controlled by theme.json
  inc/setup/setup.php
Due: php

WDSUS-26 - Remove sidebar right page template
  page-templates/sidebar-right.php
Due: php

WDSUS-26 - Add sample header template part
  parts/header.html
Due: other

WDSUS-26 - Add sample CTA pattern
  patterns/cta.php
Due: php

WDSUS-26 - Add sample fse template
  templates/index.html
Due: other

WDSUS-26 - Reorder block categories
  inc/hooks/change-block-category-order.php
Due: php

porting changes from `wd_f`
  acf-json/group_6346c08d323e8.json
  blocks/modules/call-to-action-center.php
  blocks/modules/call-to-action-left.php
  blocks/modules/call-to-action-right.php
  inc/wpcli/block-starter/block.php
  inc/wpcli/class-blocks-scaffold.php
Due: php, other

WDSUS-27 - refactor function
  inc/hooks/reorder-block-categories.php
Due: php

Update PR and workflow and add WPCLI script
  .github/PULL_REQUEST_TEMPLATE.md
  .github/dependabot.yml
  .github/workflows/assertions.yml
  .github/workflows/deploy.yml
  inc/hooks/register-block-categories.php
  inc/wpcli/block-starter/editor.scss
  inc/wpcli/block-starter/style.scss
  inc/wpcli/class-blocks-scaffold.php
  lefthook.yml
Due: php, styles, other

WDSUS-2 - Update theme json and add editor style
  src/fonts/inter/Inter.var.woff2
  src/fonts/inter/LICENSE.txt
  src/fonts/oxygen/OFL.txt
  src/fonts/oxygen/oxygen-v15-latin-300.woff2
  src/fonts/oxygen/oxygen-v15-latin-700.woff2
  src/fonts/oxygen/oxygen-v15-latin-regular.woff2
  src/scss/global/_editor.scss
  src/scss/global/index.scss
  theme.json
Due: styles, other

WDSUS-2 - Remove function to wrap core blocks
  inc/hooks/wrap-core-blocks.php
Due: php

WDSUS-2 - Remove svg icons function and update preflight
  inc/hooks/include-svg-icons.php
  src/tailwind-preflight.css
Due: php, styles

WDSUS-2 - Update composer lock
  composer.lock
Due: none

WDSUS-2 - Update themejson and preflight
  src/tailwind-preflight.css
  theme.json
Due: styles, other

WDSUS-2 - Fix content sizes not updating on frontend
  index.php
  template-parts/content-page.php
  template-parts/content-password-protected.php
  template-parts/content-search.php
  template-parts/content.php
Due: php

WDSUS-2 - Update README
  README.md
Due: none

WDSUS-2 Remove extra blocks
  blocks/call-to-action/block.json
  blocks/call-to-action/call-to-action.php
  blocks/call-to-action/editor.asset.php
  blocks/call-to-action/editor.js
  blocks/call-to-action/script.asset.php
  blocks/call-to-action/script.js
  blocks/modules/call-to-action-center.php
  blocks/modules/call-to-action-left.php
  blocks/modules/call-to-action-right.php
Due: php, javascript, other

WDSUS-2 - Remove core block style deregister function
  inc/setup/scripts.php
Due: php

WDSUS-2 - Additional content layout fix
  template-parts/content-page.php
  template-parts/content-password-protected.php
  template-parts/content-search.php
  template-parts/content.php
Due: php

WDSUS-2 - Register block pattern category
  inc/hooks/register-block-pattern-category.php
Due: php

WDSUS-2 - Remove acf json sample
  acf-json/group_6346c08d323e8.json
Due: other

WDSUS-2 - Update composer lockfile
  composer.lock
Due: none

WDSUS-2 - Update WPCLI scripts
  inc/wpcli/block-starter/block.json
  inc/wpcli/block-starter/block.php
  inc/wpcli/class-blocks-scaffold.php
Due: php, other

WDSUS-2 - Add block default folders
  src/js/blocks/custom/.gitkeep
  src/scss/blocks/custom/.gitkeep
  src/scss/blocks/custom/index.scss
  src/scss/blocks/index.scss
Due: styles

Bump @wordpress/eslint-plugin from 14.4.0 to 15.0.0
  .nvmrc
  package.json
Due: other

Bump @evilmartians/lefthook from 1.3.13 to 1.4.9
  package.json
Due: other

Bump postcss-preset-env from 8.3.2 to 9.1.1
  package.json
Due: other

Bump glob from 10.2.4 to 10.3.3
  package.json
Due: other

Path conditions:
  php: any of: *.php
  styles: any of: *.{css,scss}
  javascript: any of: *.{js,ts,tsx}
  markdown: any of: *.{md}
  other: any of: *.{yml,json,html}
