Repository WebDevStudios/wd_s: changes, and which lefthook commands are due for each by the changed paths.
All: php, styles, javascript, markdown, other

lefthook.yml:

# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md

pre-commit:
    parallel: true
    commands:
        php:
            glob: '*.php'
            run: ./vendor/bin/phpcs -p -s -v {staged_files} --standard=phpcs.xml.dist
        styles:
            glob: '*.{css,scss}'
            run: npx stylelint {staged_files} -f verbose
        javascript:
            glob: '*.{js,ts,tsx}'
            run: npx eslint {staged_files}
        markdown:
            glob: '*.{md}'
            run: npx markdownlint-cli {staged_files}
        other:
            glob: '*.{yml,json,html}'
            run: npx prettier {staged_files} --write

Bump @wordpress/scripts from 23.7.2 to 24.6.0
  package-lock.json
  package.json
Due: other

Bump @wordpress/prettier-config from 1.4.0 to 2.5.0
  package-lock.json
  package.json
Due: other

Bump engine.io from 6.2.0 to 6.2.1
  package-lock.json
Due: other

Move build packages to dependencies
  package-lock.json
  package.json
Due: other

Alphabetize
  package.json
Due: other

feat: add basic theme.json from 2023
  theme.json
Due: other

feat: use colors from theme.json
  wds.preset.js
Due: javascript

feat: read font-sizes from theme.json
  theme.json
  wds.preset.js
Due: javascript, other

feat: cleanup theme.json fontSizes
  theme.json
Due: other

feat: import spacing from theme.json
  wds.preset.js
Due: javascript

feat: cleanup font family
  theme.json
Due: other

feat: COWP-54 basic header styling
  src/scss/critical/_header.scss
  src/scss/critical/_menus.scss
Due: styles

feat: COWP-55 primary navigation & style
  src/scss/critical/_menus.scss
Due: styles

feat: COWP-57 option to convert last nav item to button
  inc/customizer/settings.php
  inc/hooks/last-menu-as-button.php
  src/scss/critical/_menus.scss
Due: php, styles

feat: header on mobile
  src/images/icons/hamburger.svg
  src/scss/critical/_header.scss
  src/scss/template-tags/_off-canvas.scss
Due: styles

feat: footer spacing & color
  src/scss/templates/_footer.scss
Due: styles

fix: header spacing
  src/scss/critical/_header.scss
Due: styles

feat: footer menu spacing
  src/scss/templates/_footer.scss
Due: styles

feat: social icons style
  src/scss/templates/_footer.scss
Due: styles

feat: COWP-61 add no title template
  page-templates/no-title.php
  template-parts/content-no-title.php
Due: php

feat: COWP-62 add no header no footer template
  page-templates/no-header-footer.php
Due: php

feat: main content spacing
  src/scss/global/_global.scss
Due: styles

feat: COWP-63 add left sidebar template
  page-templates/sidebar-left.php
  src/scss/templates/_left-sidebar.scss
  src/scss/templates/index.scss
Due: php, styles

fix: header & footer spacing
  src/scss/critical/_header.scss
  src/scss/templates/_footer.scss
Due: styles

feat: COWP-64 add style right sidebar template
  page-templates/sidebar-right.php
  src/scss/templates/_right-sidebar.scss
  src/scss/templates/index.scss
Due: php, styles

fix: caption style
  src/scss/blocks/core/_captions.scss
Due: styles

fix: at gallery block, figure don't need padding
  src/scss/blocks/core/_gallery.scss
Due: styles

fix: alignfull should match two edges
  src/scss/blocks/core/_image.scss
  src/scss/wordpress-global/_alignment.scss
Due: styles

feat: add spacing to core separator block
  src/scss/blocks/core/_separator.scss
  src/scss/blocks/core/index.scss
Due: styles

feat: add style for quotes
  src/scss/blocks/core/_quote.scss
Due: styles

feat: mobile should not have vertical scroll bar width
  src/scss/wordpress-global/_alignment.scss
Due: styles

feat: listing style
  src/scss/blocks/core/_listing.scss
  src/scss/blocks/core/index.scss
Due: styles

fix: quote and separator responsive
  src/scss/blocks/core/_quote.scss
  src/scss/blocks/core/_separator.scss
Due: styles

feat: listing styles for comments
  src/scss/blocks/core/_listing.scss
Due: styles

feat: embed style
  src/scss/blocks/core/_embed.scss
  src/scss/blocks/core/index.scss
Due: styles

feat: search block style
  src/scss/blocks/core/_search.scss
  src/scss/blocks/core/index.scss
Due: styles

feat: preformatted and verse blocks style
  src/scss/blocks/core/_preformatted.scss
  src/scss/blocks/core/index.scss
Due: styles

feat: social links block
  src/scss/blocks/core/_embed.scss
Due: styles

fix: typos
  src/scss/blocks/core/_separator.scss
Due: styles

feat: calendar embed style
  src/scss/blocks/core/_embed.scss
Due: styles
