Repository WebDevStudios/wd_s: changes, and which lefthook commands are due for each by the changed paths.
All: php, styles, javascript, markdown, other

lefthook.yml:

# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md

pre-commit:
    parallel: true
    commands:
        php:
            glob: '*.php'
            run: ./vendor/bin/phpcs -p -s -v {staged_files} --standard=phpcs.xml.dist
        styles:
            glob: '*.{css,scss}'
            run: npx stylelint {staged_files} -f verbose
        javascript:
            glob: '*.{js,ts,tsx}'
            run: npx eslint {staged_files}
        markdown:
            glob: '*.{md}'
            run: npx markdownlint-cli {staged_files}
        other:
            glob: '*.{yml,json,html}'
            run: npx prettier {staged_files} --write

composer install wp-cli
  composer.json
Due: other

initial copy wp-cli command from acf-wds-blocks
  inc/wpcli/block-starter/block.json
  inc/wpcli/block-starter/block.php
  inc/wpcli/block-starter/editor.js
  inc/wpcli/block-starter/editor.scss
  inc/wpcli/block-starter/script.js
  inc/wpcli/block-starter/style.scss
  inc/wpcli/block-starter/tailwind.config.js
  inc/wpcli/class-blocks-scaffold.php
Due: php, styles, javascript, other

adding some additional stubs used in the project
  .vscode/settings.json
Due: other

scripts to build and watch blocks
  package.json
Due: other

including inc/wpcli/ folder
  functions.php
Due: php

we need this folder for the custom blocks
  src/blocks/.gitkeep
Due: none

WDSUS-5 - Add sample styles to themejson
  theme.json
Due: other

WDSUS-5 - Add custom base color styles to theme.json
  theme.json
Due: other

instead of separated build, adding copy-php setting for blocks
  package.json
Due: other

fixing string replacement for namespace
  inc/wpcli/class-blocks-scaffold.php
Due: php

composer.lock
  composer.lock
Due: none

WDSUS-5 - Content fix for functions.php and update lock files
  composer.lock
  functions.php
  package-lock.json
Due: php, other

Add css (postcss) files
  .prettierrc.js
  .stylelintignore
  .stylelintrc.json
  .vscode/settings.json
  lefthook.yml
  package-lock.json
  package.json
  src/css/custom/base.css
  src/css/custom/components.css
  src/css/custom/components/components.css
  src/css/custom/file-header.css
  src/css/custom/fonts.css
  src/css/custom/utilities.css
  src/css/tailwind-typography.config.js
  src/css/tailwind.config.js
  src/css/tailwind.css
  style-editor.css
  style.css
  tailwind.config.js
  theme.json
  wds.preset.js
  webpack.config.js
Due: styles, javascript, other

WDSUS-5 - Update package.json and composer lock file
  composer.lock
  package-lock.json
  package.json
Due: other

WDSUS-5 - Remove scaffolding template
  inc/scaffolding/hook-theme-scaffolding.php
  inc/scaffolding/print-global-scaffolding-section.php
  inc/scaffolding/print-scaffolding-section.php
  inc/scaffolding/print-theme-scaffolding-nav.php
  inc/scaffolding/scaffolding-allowed-html.php
  page-templates/scaffolding.php
  tailwind.config.js
  template-parts/scaffolding/scaffolding-blank.php
  template-parts/scaffolding/scaffolding-buttons.php
  template-parts/scaffolding/scaffolding-elements.php
  template-parts/scaffolding/scaffolding-forms.php
  template-parts/scaffolding/scaffolding-globals.php
  template-parts/scaffolding/scaffolding-icons.php
  template-parts/scaffolding/scaffolding-media.php
  template-parts/scaffolding/scaffolding-typography.php
Due: php, javascript

WDSUS-5 - Add heading core style
  theme.json
Due: other

WDSUS-5 - Change to responsive text sizes for headings ahd body text
  theme.json
Due: other

WDSUS-5 - Add core styles to themejson, add list style to override tailwind preflight
  src/scss/blocks/core/_list.scss
  src/scss/blocks/core/index.scss
  src/scss/blocks/index.scss
  theme.json
Due: styles, other

WDSUS-5 - Add core styles to themejson, add list style to override tailwind preflight
  theme.json
Due: other

WDSUS-5 - Add custom talwind preflight css
  inc/setup/scripts.php
  src/tailwind-preflight.css
Due: php, styles

WDSUS-5 - Disable default tailwind preflight
  src/tailwind-preflight.css
  tailwind.config.js
Due: styles, javascript

WDSUS-5 - Remove list style override
  src/scss/blocks/core/_list.scss
  src/scss/blocks/core/index.scss
Due: styles

WDSUS-5 - Update theme.json
  theme.json
Due: other

WDSUS-24 - Add autochangelog package and automate
  CHANGELOG.md
  package-lock.json
  package.json
Due: other

WDSUS-24 - Themejson cleanup
  theme.json
Due: other

WDSUS-24 - Update Changelog
  CHANGELOG.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

#958 changed dirname call to WP method
  inc/setup/scripts.php
Due: php

#991 added patterns include into the tailwind config.
  tailwind.config.js
Due: javascript

#1000 Added new block group styles
  src/scss/blocks/core/_general.scss
  src/scss/blocks/core/index.scss
Due: styles

adds schema | fixes supports.color and references to scripts and styles
  inc/wpcli/block-starter/block.json
Due: other

reverts adding -webpack-copy-php, not needed without tailwind
  package.json
Due: other

early exit is class is already defined
  inc/wpcli/class-blocks-scaffold.php
Due: php

renames prefix to wds (wd_s is not a valid block name)
  inc/wpcli/class-blocks-scaffold.php
  phpcs.xml.dist
Due: php

removes tailwind config
  inc/wpcli/block-starter/tailwind.config.js
  inc/wpcli/class-blocks-scaffold.php
Due: php, javascript

changes acf registration hook from `acf/init` to `init` | changed blocks folder from `src/blocks` to `/blocks` | css intead of scss
  blocks/.gitkeep
  inc/wpcli/block-starter/editor.css
  inc/wpcli/block-starter/editor.js
  inc/wpcli/block-starter/editor.scss
  inc/wpcli/block-starter/script.js
  inc/wpcli/block-starter/style.css
  inc/wpcli/block-starter/style.scss
  inc/wpcli/class-blocks-scaffold.php
Due: php, styles, javascript

exclude generated ACF JSON files
  lefthook.yml
Due: other

simplified ACF block call-to-action
  acf-json/group_6346c08d323e8.json
  blocks/call-to-action/block.json
  blocks/call-to-action/call-to-action.php
  blocks/call-to-action/editor.asset.php
  blocks/call-to-action/editor.css
  blocks/call-to-action/editor.js
  blocks/call-to-action/index.js
  blocks/call-to-action/script.asset.php
  blocks/call-to-action/script.js
  blocks/call-to-action/style.css
  blocks/modules/call-to-action-center.php
  blocks/modules/call-to-action-left.php
  blocks/modules/call-to-action-right.php
Due: php, styles, javascript, other

WDSUS-19: adds WDS Blocks category
  inc/hooks/register-block-categories.php
Due: php
