Repository WebDevStudios/wd_s: changes, and which lefthook commands are due for each by the changed paths.
All: php, styles, javascript, markdown, other

lefthook.yml:

# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md

pre-commit:
    parallel: true
    commands:
        php:
            glob: '*.php'
            run: ./vendor/bin/phpcs -p -s -v {staged_files} --standard=phpcs.xml.dist
        styles:
            glob: '*.{css,scss}'
            run: npx stylelint {staged_files} -f verbose
        javascript:
            glob: '*.{js,ts,tsx}'
            run: npx eslint {staged_files}
        markdown:
            glob: '*.{md}'
            run: npx markdownlint-cli {staged_files}
        other:
            glob: '*.{yml,json,html}'
            run: npx prettier {staged_files} --write

Added readme to inc/
  inc/README.md
  inc/template-tags/README.md
Due: none

Add aspect ratio classes
  src/scss/global/_media.scss
  src/scss/index.scss
Due: styles

Update partials to new stylelint rules
  src/scss/blocks/core/_gallery.scss
  src/scss/blocks/core/_image.scss
  src/scss/blocks/core/_list.scss
  src/scss/template-tags/_menus.scss
  src/scss/template-tags/_mobile-menus.scss
  src/scss/template-tags/_modals.scss
  src/scss/template-tags/_off-canvas.scss
  src/scss/templates/_comments.scss
  src/scss/templates/_footer.scss
  src/scss/templates/_header.scss
  src/scss/templates/_posts.scss
Due: styles

Disable annoyances in the edit post screen
  inc/setup.php
Due: php

Working on adding namespaces...
  footer.php
  inc/functions/compat.php
  inc/functions/return-attachment-id-from-url.php
  inc/functions/return-categorized-blog.php
  inc/functions/return-custom-logo-url.php
  inc/functions/return-svg.php
  inc/functions/return-the-excerpt.php
  inc/functions/return-the-title.php
  inc/functions/security.php
  inc/scaffolding/display-scaffolding-section.php
  inc/scaffolding/hook-theme-scaffolding.php
  inc/scaffolding/scaffolding-allowed-html.php
  inc/setup/content-width.php
  inc/setup/preload-assets.php
  inc/setup/preload-scripts.php
  inc/setup/scripts.php
  inc/setup/setup.php
  inc/setup/widgets-init.php
  inc/template-tags/display-comments.php
  inc/template-tags/display-copyright-text.php
  inc/template-tags/display-entry-footer.php
  inc/template-tags/display-mobile-menu.php
  inc/template-tags/display-numeric-pagination.php
  inc/template-tags/display-posted-on.php
  inc/template-tags/display-social-network-links.php
  inc/template-tags/display-svg.php
  index.php
  single.php
  template-parts/content-search.php
  template-parts/content.php
  template-parts/scaffolding/scaffolding-buttons.php
  template-parts/scaffolding/scaffolding-elements.php
  template-parts/scaffolding/scaffolding-forms.php
  template-parts/scaffolding/scaffolding-icons.php
  template-parts/scaffolding/scaffolding-media.php
  template-parts/scaffolding/scaffolding-typography.php
Due: php

More namespacing updates....
  inc/scaffolding/display-global-scaffolding-section.php
  inc/setup/preload-assets.php
  inc/shortcodes/copyright-year.php
  inc/template-tags/display-entry-footer.php
  single.php
  template-parts/scaffolding/scaffolding-globals.php
  template-parts/scaffolding/scaffolding-icons.php
Due: php

More namespacing updates...
  404.php
  archive.php
  comments.php
  functions.php
  header.php
  inc/customizer/class-text-editor-custom-control.php
  inc/customizer/customizer.php
  inc/customizer/panels.php
  inc/customizer/sections.php
  inc/customizer/settings.php
  inc/hooks/add-og-tags.php
  inc/hooks/body-classes.php
  inc/hooks/category-transient-flusher.php
  inc/hooks/content-more-link.php
  inc/hooks/custom-mime-types.php
  inc/hooks/disable-wpautop-for-gutenberg.php
  inc/hooks/display-customizer-footer-scripts.php
  inc/hooks/display-customizer-header-scripts.php
  inc/hooks/excerpt-more.php
  inc/hooks/get-the-content.php
  inc/hooks/include-svg-icons.php
  inc/hooks/remove-archive-title-prefix.php
  page-templates/sidebar-right.php
  searchform.php
  sidebar.php
  template-parts/content-none.php
  template-parts/content-page.php
  template-parts/content-password-protected.php
Due: php

Fix SVG namespacing
  inc/functions/return-svg.php
  inc/template-tags/display-copyright-text.php
  inc/template-tags/display-svg.php
Due: php

Started on refactor of posted_on
  inc/template-tags.php
Due: php

Working on date function
  inc/template-tags.php
  template-parts/content.php
Due: php

Adds .gitkeep file to force creation of empty post-types directory
  inc/post-types/.gitkeep
Due: none

Changed function namespace imports
  404.php
  archive.php
  comments.php
  footer.php
  functions.php
  header.php
  inc/functions/return-svg.php
  inc/setup/preload-assets.php
  inc/template-tags/display-copyright-text.php
  inc/template-tags/display-entry-footer.php
  inc/template-tags/display-svg.php
  index.php
  searchform.php
  sidebar.php
  single.php
  template-parts/scaffolding/scaffolding-globals.php
  template-parts/scaffolding/scaffolding-icons.php
Due: php

Fixed page template namespacing
  page-templates/sidebar-right.php
Due: php

Adds post_date and post_author functions
  inc/template-tags.php
  template-parts/content-search.php
  template-parts/content.php
Due: php

Remove other dev function
  inc/template-tags.php
Due: php

Updates comments for new functions
  inc/template-tags.php
Due: php

Adds sync-directory for image copying!
  package-lock.json
  package.json
Due: other

Added namespace magic constant
  inc/customizer/customizer.php
  inc/customizer/panels.php
  inc/customizer/sections.php
  inc/customizer/settings.php
  inc/functions/security.php
  inc/hooks/add-og-tags.php
  inc/hooks/category-transient-flusher.php
  inc/hooks/display-customizer-footer-scripts.php
  inc/hooks/display-customizer-header-scripts.php
  inc/hooks/include-svg-icons.php
  inc/scaffolding/hook-theme-scaffolding.php
  inc/setup/content-width.php
  inc/setup/preload-assets.php
  inc/setup/preload-scripts.php
  inc/setup/scripts.php
  inc/setup/setup.php
  inc/setup/widgets-init.php
Due: php

Fixed return_custom_logo_url namespace
  inc/setup/preload-assets.php
Due: php

Remove vendor/bin prefix
  composer.json
Due: other

Refactor aspect ratio classes to use native browser aspect ratio properties
  src/scss/global/_media.scss
Due: styles

Linting fixes
  src/scss/global/_media.scss
Due: styles

Remove vendor/bin prefix (#778)
  composer.json
Due: other

Simplifies the esbuild output
  esbuild.js
Due: javascript

Watches the build folder for imagemin
  imagemin.js
Due: javascript

Adds a watch for imagemin
  package.json
Due: other

Updates wp-scripts
  package-lock.json
  package.json
Due: other

Updates lint & format to use .css
  package.json
Due: other

Removes node_env flag
  package.json
Due: other

Updates imagemin src directory
  imagemin.js
Due: javascript

Adds an imagemin flag to watch build dir
  imagemin.js
  package.json
Due: javascript, other

Simplifies the imagemin conditional
  imagemin.js
Due: javascript

Adds inline sourcemaps
  esbuild.js
Due: javascript

Updates a bunch of package versions
  package-lock.json
  package.json
Due: other

Fixes a linting issue
  src/css/templates/footer.css
Due: styles

Fixes an issue where not all partials are imported
  src/scss/global/index.scss
  src/scss/index.scss
Due: styles

Adds fonts back to copyplugin
  webpack.config.js
Due: javascript

Adds font directory syncing
  package.json
Due: other

Adds loader for woff/woff2 files
  esbuild.js
Due: javascript
