Repository WebDevStudios/wd_s: changes, and which lefthook commands are due for each by the changed paths.
All: php, styles, javascript, markdown, other, packagejson

php:
  run: ./vendor/bin/phpcs -p -v {staged_files} --standard=.phpcs.xml.dist

styles:
  run: npx stylelint {staged_files}

javascript:
  run: npx eslint {staged_files}

markdown:
  run: npx markdownlint-cli {staged_files}

other:
  run: npx prettier {staged_files} --write

packagejson:
  run: npm run lint:pkg-json

rename to phpcs.xml.dist
  .phpcs.xml.dist
  phpcs.xml.dist
Due: none

check in phpcompat.xml.dist
  phpcompat.xml.dist
Due: none

bring in setup from WordPress github
  composer.json
  composer.lock
Due: other

remove composer path
  .vscode/settings.json
Due: other

add PHP Sniffer & Beautifier to list
  .vscode/extensions.json
Due: other

remove extra path
  composer.json
Due: other

update standard filepath. add -s
  lefthook.yml
Due: other

add formatting commands
  lefthook.yml
Due: other

add declartion-no-important rule
  .stylelintrc.json
Due: other

add camelCase rule
  .eslintrc.js
Due: javascript

Add editor styles entry point (#617)
  functions.php
  package-lock.json
  src/scss/base/_globals.scss
Due: php, styles, other

add postcss-loader
  package-lock.json
  package.json
Due: other, packagejson

add stylelint and postcss-reporter
  postcss.config.js
Due: javascript

add eslint-webpack-plugin
  package-lock.json
  package.json
Due: other, packagejson

enable eslint-webpack-plugin
  webpack.config.js
Due: javascript

add stylelint-webpack-plugin
  package-lock.json
  package.json
Due: other, packagejson

offload stylelint-ing to webpack
  postcss.config.js
Due: javascript

enable stylelint-webpack-plugin
  webpack.config.js
Due: javascript

move php compat into phpcs.xml.dist
  phpcompat.xml.dist
  phpcs.xml.dist
Due: none

use phpcs.xml.dist for compat
  composer.json
Due: other

dependency bump
  composer.lock
Due: none

rename to .phpcs.xml
  .phpcs.xml
Due: none

point at updated file name
  composer.json
  lefthook.yml
Due: other

phpcs compatiblity formatting fixes
  comments.php
  header.php
  inc/hooks.php
  inc/scaffolding.php
  inc/template-tags.php
  index.php
  template-parts/content-page.php
  template-parts/content.php
  template-parts/scaffolding/scaffolding-buttons.php
  template-parts/scaffolding/scaffolding-globals.php
Due: php

remove folders that don't exist
  .markdownlintignore
Due: none

specify node version. closes #631
  .nvmrc
Due: none

add wp-cli to prereq. add toc.
  README.md
Due: none

bump theme version
  package.json
  style.css
Due: styles, other, packagejson

make phpcs more theme specific
  .phpcs.xml
Due: none

add wp cli to list. closes #629
  README.md
Due: none

add prefix name rule (and allow short prefixes)
  .phpcs.xml
Due: none

specify wordpress's prettier. closes #630
  package-lock.json
  package.json
Due: other, packagejson

add composer/installers
  composer.json
  composer.lock
Due: other

add wp-cli as dependency. configure pot script.
  composer.json
Due: other

remove platform check
  composer.json
Due: other

install with composer v2 (it works!)
  composer.lock
Due: none

remove wp cli dependency
  README.md
Due: none

Update README.md
  README.md
Due: none

bump version to 2.1
  package.json
  style.css
Due: styles, other, packagejson

Path conditions:
  php: any of: *.php
  styles: any of: *.{css,scss}
  javascript: any of: *.{js,ts,tsx}
  markdown: any of: *.{md}
  other: any of: *.{yml,json,html}
  packagejson: any of: package.json
