Repository WebDevStudios/wd_s: changes, and which lefthook commands are due for each by the changed paths.
All: php, styles, javascript, markdown, other

lefthook.yml:

# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md

pre-commit:
    parallel: true
    commands:
        php:
            glob: '*.php'
            run: ./vendor/bin/phpcs -p -s -v {staged_files} --standard=phpcs.xml.dist
        styles:
            glob: '*.{css,scss}'
            run: npx stylelint {staged_files} -f verbose
        javascript:
            glob: '*.{js,ts,tsx}'
            run: npx eslint {staged_files}
        markdown:
            glob: '*.{md}'
            run: npx markdownlint-cli {staged_files}
        other:
            glob: '*.{yml,json,html}'
            run: npx prettier {staged_files} --write

bump @wordpress/scripts to 18.0.0
  package-lock.json
  package.json
Due: other

bump copy-webpack-plugin to 9.0.1
  package-lock.json
  package.json
Due: other

bump css-loader to 6.2.0
  package-lock.json
  package.json
Due: other

bump css-minimizer-webpack-plugin to 3.0.2
  package-lock.json
  package.json
Due: other

bump eslint-webpack-plugin to 3.0.1
  package-lock.json
  package.json
Due: other

bump mini-css-extract-plugin to 2.2.0
  package-lock.json
  package.json
Due: other

bump sass-loader to 12.1.0
  package-lock.json
  package.json
Due: other

bump svg-spritemap-webpack-plugin to 4.2.0
  package-lock.json
  package.json
Due: other

bump stylelint-webpack-plugin to 3.0.1
  package-lock.json
  package.json
Due: other

bump tailwind to postcss 8 compatible version
  package-lock.json
  package.json
Due: other

bump postcss-loader to 6.1.1
  package-lock.json
  package.json
Due: other

allow webpack 5 plugins to be upgraded
  package-lock.json
  package.json
Due: other

bump composer dependencies
  composer.lock
Due: none

update for webpack 5 config shape
  webpack.prod.js
Due: javascript

remove extra . in CopyPlugin path
  webpack.config.js
Due: javascript

point directly at svg-spritemap-webpack-plugin commit
  package-lock.json
  package.json
Due: other

dependency bump
  composer.lock
  package-lock.json
  package.json
Due: other

Replaces loaders with asset modules
  webpack.config.js
Due: javascript

Removes file-loader & url-loader from package.json
  package.json
Due: other

Updates mini-css-extract to fix sourcemaps
  package.json
Due: other

Simplifies webpack config around loaders
  webpack.config.js
Due: javascript

add function to preload styles and scripts
  inc/scripts.php
Due: php

bump @wordpress/scripts to 18.0.1
  package-lock.json
  package.json
Due: other

WordPress Scripts Upgrade (#728)
  composer.lock
  package-lock.json
  package.json
  webpack.config.js
  webpack.prod.js
Due: javascript, other

Squashed commit of the following:
  composer.lock
  package-lock.json
  package.json
  webpack.config.js
  webpack.prod.js
Due: javascript, other

use the asset file to determine version
  inc/scripts.php
Due: php

Replaces file-loader with asset modules
  webpack.config.js
Due: javascript

Simplifies filename output for images
  webpack.config.js
Due: javascript

Adds fix for background image CSS breaking (#725)
  webpack.config.js
Due: javascript

Feature/#739 preload styles scripts (#740)
  inc/scripts.php
Due: php

Adds function to get logo URL
  inc/extras.php
Due: php

Adds a hook to preload assets (logo, fonts, etc.)
  inc/scripts.php
Due: php

Moves critical CSS to their own partials
  src/scss/critical.scss
  src/scss/critical/_header.scss
  src/scss/critical/_menus.scss
  src/scss/critical/_mobile-menus.scss
  src/scss/critical/index.scss
  src/scss/template-tags/index.scss
  src/scss/templates/index.scss
Due: styles

Adjusts entry points for main and critical files
  src/critical.js
  src/index.js
Due: javascript

Updates webpack for multiple entry points
  webpack.config.js
Due: javascript

Inlines the critical CSS file
  inc/scripts.php
Due: php

Adds enqueue functions for template modules
  inc/scripts.php
Due: php

Adds postcss-nested for nested CSS handling
  postcss.config.js
Due: javascript

Creates Template Module files
  template-parts/index/index.css
  template-parts/page/page.css
  template-parts/single/single.css
  template-parts/single/single.php
Due: php, styles
