Repository WebDevStudios/wd_s: changes, and which lefthook commands are due for each by the changed paths.
All: php, styles, javascript, markdown, other

lefthook.yml:

# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md

pre-commit:
    parallel: true
    commands:
        php:
            glob: '*.php'
            run: ./vendor/bin/phpcs -p -s -v {staged_files} --standard=phpcs.xml.dist
        styles:
            glob: '*.{css,scss}'
            run: npx stylelint {staged_files} -f verbose
        javascript:
            glob: '*.{js,ts,tsx}'
            run: npx eslint {staged_files}
        markdown:
            glob: '*.{md}'
            run: npx markdownlint-cli {staged_files}
        other:
            glob: '*.{yml,json,html}'
            run: npx prettier {staged_files} --write

Register Quotes with block.json
  inc/blocks/quotes.php
  template-parts/acf-blocks/blocks/quotes/block.json
  template-parts/acf-blocks/blocks/quotes/quotes.php
Due: php, other

Register Side by Side with block.json
  inc/blocks/side-by-side.php
  template-parts/acf-blocks/blocks/side-by-side/block.json
  template-parts/acf-blocks/blocks/side-by-side/side-by-side.php
Due: php, other

Register Tabs with block.json
  inc/blocks/tabs.php
  template-parts/acf-blocks/blocks/tabs/block.json
  template-parts/acf-blocks/blocks/tabs/tabs.php
Due: php, other

Removes heading and content fields from Tabs block
  acf-json/group_624daa038b614.json
  template-parts/acf-blocks/blocks/tabs/tabs.php
Due: php, other

Fixes renderTemplate for Tabs
  template-parts/acf-blocks/blocks/tabs/block.json
Due: other

Removes Alpine from Tab module
  template-parts/acf-blocks/modules/tabs.php
Due: php

Removes all mentions of Alpine
  inc/functions/get-formatted-atts.php
  inc/setup/scripts.php
  template-parts/acf-blocks/elements/button.php
  template-parts/acf-blocks/modules/carousel.php
  template-parts/acf-blocks/modules/notification.php
Due: php

Add space around innerblocks container
  src/scss/global/_editor-styles.scss
Due: styles

Allow custom anchors and classNames on each block
  template-parts/acf-blocks/blocks/accordion/block.json
  template-parts/acf-blocks/blocks/cards-repeater/block.json
  template-parts/acf-blocks/blocks/logo-grid/block.json
  template-parts/acf-blocks/blocks/quotes/block.json
  template-parts/acf-blocks/blocks/side-by-side/block.json
  template-parts/acf-blocks/blocks/tabs/block.json
Due: other

Changes name from "allowed_blocks" to "allowed_innerblocks" for clarity
  template-parts/acf-blocks/blocks/accordion/accordion.php
  template-parts/acf-blocks/blocks/cards-repeater/cards-repeater.php
  template-parts/acf-blocks/blocks/logo-grid/logo-grid.php
  template-parts/acf-blocks/blocks/quotes/quotes.php
  template-parts/acf-blocks/blocks/side-by-side/side-by-side.php
  template-parts/acf-blocks/blocks/tabs/tabs.php
Due: php

Improve readability for preview images
  template-parts/acf-blocks/blocks/accordion/accordion.php
  template-parts/acf-blocks/blocks/cards-repeater/cards-repeater.php
  template-parts/acf-blocks/blocks/logo-grid/logo-grid.php
  template-parts/acf-blocks/blocks/quotes/quotes.php
  template-parts/acf-blocks/blocks/side-by-side/side-by-side.php
  template-parts/acf-blocks/blocks/tabs/tabs.php
Due: php

Adds js for Accordion block
  src/js/blocks/accordion.js
  src/js/blocks/index.js
  src/scss/modules/_accordion.scss
Due: styles, javascript

Allow for custom classes and block anchors to be set in block editor
  template-parts/acf-blocks/blocks/accordion/accordion.php
  template-parts/acf-blocks/blocks/cards-repeater/cards-repeater.php
  template-parts/acf-blocks/blocks/logo-grid/logo-grid.php
  template-parts/acf-blocks/blocks/quotes/quotes.php
  template-parts/acf-blocks/blocks/side-by-side/side-by-side.php
  template-parts/acf-blocks/blocks/tabs/tabs.php
Due: php

Moves accordion.js to blocks folder and adds reference to block.json
  src/js/blocks/index.js
  template-parts/acf-blocks/blocks/accordion/accordion.js
  template-parts/acf-blocks/blocks/accordion/block.json
Due: javascript, other

Improve enqueued scripts readability
  inc/setup/scripts.php
Due: php

Adds boilerplate SCSS for accordion block
  template-parts/acf-blocks/blocks/accordion/_accordions.scss
Due: styles

Rename block script to be more generic
  template-parts/acf-blocks/blocks/accordion/script.js
Due: javascript

Fixes accordion block class
  template-parts/acf-blocks/blocks/accordion/accordion.php
Due: php

Updates accordion's block.json
  template-parts/acf-blocks/blocks/accordion/block.json
Due: other

Adds boilerplate style & script handles and file refs for blocks
  template-parts/acf-blocks/blocks/cards-repeater/block.json
  template-parts/acf-blocks/blocks/logo-grid/block.json
  template-parts/acf-blocks/blocks/quotes/block.json
  template-parts/acf-blocks/blocks/side-by-side/block.json
  template-parts/acf-blocks/blocks/tabs/block.json
Due: other

update:: Fixed imagemin not retaining sub directories.
  imagemin.js
  package.json
Due: javascript, other

Merged: Main branch.
  src/css/wordpress-global/alignment.css
Due: styles

Updates build and start scripts to point to blocks directory and copy php files for blocks
  package.json
Due: other

Fix @package name
  inc/hooks/allowed-blocks.php
Due: php

Adds filter to only load block assets for blocks that are on the page
  inc/hooks/block-assets.php
Due: php

Updates blocks registation to use build directory
  inc/blocks/accordion.php
  inc/blocks/cards-repeater.php
  inc/blocks/logo-grid.php
  inc/blocks/quotes.php
  inc/blocks/side-by-side.php
  inc/blocks/tabs.php
Due: php

Add 'color' to block customizability; change mode to auto
  template-parts/acf-blocks/blocks/accordion/block.json
  template-parts/acf-blocks/blocks/cards-repeater/block.json
  template-parts/acf-blocks/blocks/logo-grid/block.json
  template-parts/acf-blocks/blocks/quotes/block.json
  template-parts/acf-blocks/blocks/side-by-side/block.json
  template-parts/acf-blocks/blocks/tabs/block.json
Due: other

Updates spelling
  inc/functions/get-attachment-id-from-url.php
Due: php

Adds a function to handle getting block-specific classes (className, colors)
  inc/functions/get-block-classes.php
Due: php

Updates blocks to handle classes from Gutenberg fields
  template-parts/acf-blocks/blocks/accordion/accordion.php
  template-parts/acf-blocks/blocks/cards-repeater/cards-repeater.php
  template-parts/acf-blocks/blocks/logo-grid/logo-grid.php
  template-parts/acf-blocks/blocks/quotes/quotes.php
  template-parts/acf-blocks/blocks/side-by-side/side-by-side.php
  template-parts/acf-blocks/blocks/tabs/tabs.php
Due: php

Adds missing double quote
  template-parts/acf-blocks/modules/tabs.php
Due: php

Updates accordion block and adds necessary assets
  template-parts/acf-blocks/blocks/accordion/accordion-editor.js
  template-parts/acf-blocks/blocks/accordion/accordion.js
  template-parts/acf-blocks/blocks/accordion/block.json
  template-parts/acf-blocks/blocks/accordion/editor.scss
  template-parts/acf-blocks/blocks/accordion/style.scss
Due: styles, javascript, other

Updates tabs block and adds necessary assets
  template-parts/acf-blocks/blocks/tabs/block.json
  template-parts/acf-blocks/blocks/tabs/editor.scss
  template-parts/acf-blocks/blocks/tabs/style.scss
  template-parts/acf-blocks/blocks/tabs/tabs-editor.js
  template-parts/acf-blocks/blocks/tabs/tabs.js
Due: styles, javascript, other

Removes scss module files for blocks and updates comments at top of block style files
  src/scss/modules/_accordion.scss
  src/scss/modules/_tabs.scss
  template-parts/acf-blocks/blocks/accordion/style.scss
  template-parts/acf-blocks/blocks/tabs/style.scss
Due: styles

Updates asset definitions in block.json
  template-parts/acf-blocks/blocks/cards-repeater/block.json
  template-parts/acf-blocks/blocks/logo-grid/block.json
  template-parts/acf-blocks/blocks/quotes/block.json
  template-parts/acf-blocks/blocks/side-by-side/block.json
Due: other

Removes console logs
  template-parts/acf-blocks/blocks/accordion/accordion-editor.js
  template-parts/acf-blocks/blocks/tabs/script.js
  template-parts/acf-blocks/blocks/tabs/tabs-editor.js
Due: javascript

fix :: Errors that is caused by adding an optional param ahead of a required param.
  inc/template-tags/print-element.php
Due: php

fix :: Fixed errors being caused by asset file not being found.
  template-parts/acf-blocks/blocks/accordion/script.asset.php
  template-parts/acf-blocks/blocks/cards-repeater/script.asset.php
  template-parts/acf-blocks/blocks/logo-grid/script.asset.php
  template-parts/acf-blocks/blocks/quotes/script.asset.php
  template-parts/acf-blocks/blocks/side-by-side/block.json
  template-parts/acf-blocks/blocks/side-by-side/script.asset.php
  template-parts/acf-blocks/blocks/tabs/script.asset.php
Due: php, other

fix :: Added dummy script and asset file for other blocks, this makes the code uniform as well as removes all the errors on block registration.
  template-parts/acf-blocks/blocks/accordion/block.json
  template-parts/acf-blocks/blocks/cards-repeater/block.json
  template-parts/acf-blocks/blocks/cards-repeater/script.js
  template-parts/acf-blocks/blocks/logo-grid/block.json
  template-parts/acf-blocks/blocks/logo-grid/script.js
  template-parts/acf-blocks/blocks/quotes/block.json
  template-parts/acf-blocks/blocks/quotes/script.js
  template-parts/acf-blocks/blocks/side-by-side/block.json
  template-parts/acf-blocks/blocks/side-by-side/script.js
  template-parts/acf-blocks/blocks/tabs/block.json
Due: javascript, other
