Repository WebDevStudios/wd_s: changes, and which lefthook commands are due for each by the changed paths.
All: php, styles, javascript, markdown, other

lefthook.yml:

# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md

pre-commit:
    parallel: true
    commands:
        php:
            glob: '*.php'
            run: ./vendor/bin/phpcs -p -s -v {staged_files} --standard=phpcs.xml.dist
        styles:
            glob: '*.{css,scss}'
            run: npx stylelint {staged_files} -f verbose
        javascript:
            glob: '*.{js,ts,tsx}'
            run: npx eslint {staged_files}
        markdown:
            glob: '*.{md}'
            run: npx markdownlint-cli {staged_files}
        other:
            glob: '*.{yml,json,html}'
            run: npx prettier {staged_files} --write

Adds webpack-cli to fix(?) copy plugin issue
  package-lock.json
  package.json
Due: other

Updates copyplugin to resolve empty dir
  webpack.config.js
Due: javascript

Adds check for src/fonts directory
  package-lock.json
  package.json
Due: other

Adds wordpress/prettier-config dependency
  package.json
Due: other

#747 - import global styles
  src/scss/global/_global.scss
  src/scss/global/index.scss
  src/scss/index.scss
Due: styles

#747 - Minor text update
  inc/scaffolding.php
Due: php

#747 - Remove views folder and add scaffolding stylesheet to templates
  src/scss/templates/_scaffolding.scss
  src/scss/templates/index.scss
  src/scss/views/index.scss
  src/scss/wordpress-global/index.scss
Due: styles

#747 - Update scaffolding nav style
  src/scss/templates/_scaffolding.scss
Due: styles

Updates tailwind config to specify PHP dirs
  tailwind.config.js
Due: javascript

Adds glob as a dependency
  package-lock.json
  package.json
  tailwind.config.js
Due: javascript, other

Adds babel key to avoid babel config error
  package.json
Due: other

Missed a few __NAMESPACE__ constants
  inc/hooks/body-classes.php
  inc/hooks/content-more-link.php
  inc/hooks/custom-mime-types.php
  inc/hooks/disable-wpautop-for-gutenberg.php
  inc/hooks/excerpt-more.php
  inc/hooks/get-the-content.php
  inc/hooks/remove-archive-title-prefix.php
  inc/shortcodes/copyright-year.php
Due: php

Remove unneeded ob_start() from date function
  inc/template-tags.php
Due: php

Adds search.php file to theme root
  search.php
Due: php

Remove header from search.php
  search.php
Due: php

Feature/#770 posted on tweaks (#774)
  inc/template-tags.php
  search.php
  template-parts/content-search.php
  template-parts/content.php
Due: php

#747 - Add WDS Orange color
  tailwind.config.js
Due: javascript

#747 - Add focus style for tabs
  src/scss/templates/_scaffolding.scss
Due: styles

#747 - Add background to tab-content
  src/scss/templates/_scaffolding.scss
Due: styles

Fix typo.
  README.md
Due: none

FIxes a typo
  README.md
Due: none

FIxes a typo (#848)
  README.md
Due: none

Removed babel as dependancy to allow for build
  package-lock.json
  package.json
Due: other

Update tailwind to 3.0.24
  package-lock.json
  package.json
Due: other

Update all dependencies except for Tailwind & WP Scripts
  package-lock.json
  package.json
Due: other

Added some strange spacing to satisfy Linting
  src/js/template-tags/modal.js
  tailwind.config.js
Due: javascript

Adds fonts back to copyplugin (#789)
  webpack.config.js
Due: javascript

Critical CSS (#744)
  inc/scripts.php
  src/critical.js
  src/index.js
  src/scss/critical.scss
  src/scss/critical/_header.scss
  src/scss/critical/_menus.scss
  src/scss/critical/_mobile-menus.scss
  src/scss/critical/index.scss
  src/scss/template-tags/index.scss
  src/scss/templates/index.scss
  webpack.config.js
Due: php, styles, javascript

Dependency Updates (#857)
  package-lock.json
  package.json
  src/js/template-tags/modal.js
  tailwind.config.js
Due: javascript, other

Bumps to Tailwind 3.0.24
  package-lock.json
  package.json
  tailwind.config.js
Due: javascript, other

Reverts to the default wd_s local URL
  package.json
Due: other

Add @wordpress/eslint-plugin
  package-lock.json
  package.json
Due: other

Update SCSS to match updated rules
  src/scss/blocks/core/index.scss
  src/scss/blocks/index.scss
  src/scss/critical.scss
  src/scss/critical/index.scss
  src/scss/index.scss
  src/scss/template-tags/index.scss
  src/scss/templates/index.scss
  src/scss/wordpress-global/index.scss
Due: styles

Add PHPSAB paths to phpcs, phpcbf to vscode settings
  .vscode/settings.json
Due: other

Updates lock file
  package-lock.json
Due: other

Updates WP packages
  package-lock.json
  package.json
Due: other

Updates VS Code settings file
  .vscode/settings.json
Due: other

Fixes eslint-plugin version number
  package.json
Due: other

Fixes Sass linting issues
  src/scss/blocks/core/_image.scss
  src/scss/blocks/core/_list.scss
  src/scss/blocks/core/_table.scss
  src/scss/blocks/core/index.scss
  src/scss/blocks/index.scss
  src/scss/critical.scss
  src/scss/critical/_menus.scss
  src/scss/critical/_mobile-menus.scss
  src/scss/critical/index.scss
  src/scss/global/index.scss
  src/scss/index.scss
  src/scss/template-tags/_forms.scss
  src/scss/template-tags/_modals.scss
  src/scss/template-tags/_off-canvas.scss
  src/scss/template-tags/index.scss
  src/scss/templates/_posts.scss
  src/scss/templates/index.scss
  src/scss/wordpress-global/index.scss
Due: styles
