Repository WebDevStudios/wd_s: changes, and which lefthook commands are due for each by the changed paths.
All: php, styles, javascript, markdown, other

lefthook.yml:

# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md

pre-commit:
    parallel: true
    commands:
        php:
            glob: '*.php'
            run: ./vendor/bin/phpcs -p -s -v {staged_files} --standard=phpcs.xml.dist
        styles:
            glob: '*.{css,scss}'
            run: npx stylelint {staged_files} -f verbose
        javascript:
            glob: '*.{js,ts,tsx}'
            run: npx eslint {staged_files}
        markdown:
            glob: '*.{md}'
            run: npx markdownlint-cli {staged_files}
        other:
            glob: '*.{yml,json,html}'
            run: npx prettier {staged_files} --write

Add empty script.js for tabs
  template-parts/acf-blocks/blocks/tabs/script.js
Due: javascript

added:: WDS preset for tailwind to make it resuable.
  tailwind.config.js
  wds.preset.js
Due: javascript

added:: Taxonomy printing helper functions.
  inc/template-tags/print-post-taxonomies.php
Due: php

Adds hooks file for conditionally adding classes to main element
  inc/hooks/main-classes.php
Due: php

Updates template files to use new main_classes function
  404.php
  archive.php
  index.php
  page-templates/scaffolding.php
  page-templates/sidebar-right.php
  search.php
  single.php
Due: php

Update inc/hooks/main-classes.php
  inc/hooks/main-classes.php
Due: php

Adds grid classes to site-main
  inc/hooks/main-classes.php
  template-parts/content-page.php
  template-parts/content.php
Due: php

Add grid classes
  src/scss/tailwind.scss
Due: styles

Use grid and container classes in templates
  inc/hooks/main-classes.php
  index.php
  template-parts/content-page.php
  template-parts/content-password-protected.php
  template-parts/content-search.php
  template-parts/content.php
Due: php

Update WordPress supported version
  phpcs.xml.dist
Due: none

Update Test Version to 7.4+
  phpcs.xml.dist
Due: none

Update supported WP version to 5.8+
  style.css
Due: styles

Update composer hash
  composer.lock
Due: none

Update package-lock
  package-lock.json
Due: other

Revert package-lock
  package-lock.json
Due: other

Apply containers in css
  comments.php
  footer.php
  header.php
  inc/template-tags/print-numeric-pagination.php
  index.php
  src/scss/critical/_header.scss
  src/scss/critical/_menus.scss
  src/scss/global/_global.scss
  src/scss/template-tags/_pagination.scss
  src/scss/template-tags/index.scss
  src/scss/templates/_comments.scss
  template-parts/content-page.php
  template-parts/content-password-protected.php
  template-parts/content-search.php
Due: php, styles

Use get_post_type instead of format
  archive.php
  index.php
  single.php
Due: php

Add ACF and WordPress intelephense stubs
  .vscode/settings.json
  composer.json
  composer.lock
Due: other

Update package lock
  package-lock.json
Due: other

Wrap core blocks with wp-block-* classes
  inc/hooks/wrap-core-blocks.php
  src/scss/blocks/core/_paragraph.scss
  src/scss/blocks/core/index.scss
Due: php, styles

Wrap core freeform block
  inc/hooks/wrap-core-blocks.php
Due: php

Remove table block
  inc/hooks/wrap-core-blocks.php
Due: php

Use associative array
  inc/hooks/wrap-core-blocks.php
Due: php

Add comment
  inc/hooks/wrap-core-blocks.php
Due: php

Update template-parts/content.php
  template-parts/content.php
Due: php

Add containers
  src/scss/blocks/core/_captions.scss
  src/scss/blocks/core/_freeform.scss
  src/scss/blocks/core/_heading.scss
  src/scss/blocks/core/_html.scss
  src/scss/blocks/core/_list.scss
  src/scss/blocks/core/_table.scss
  src/scss/blocks/core/index.scss
Due: styles

Add styles to safelist
  inc/setup/scripts.php
  src/scss/blocks/core/_table.scss
  wds.preset.js
Due: php, styles, javascript

Add comma to fix assertions
  inc/setup/scripts.php
Due: php

Minor tweaks to gallery block styles
  src/scss/blocks/core/_captions.scss
  src/scss/blocks/core/_gallery.scss
Due: styles

Fixes the table display
  src/scss/blocks/core/_table.scss
Due: styles

Test
  src/scss/blocks/core/_table.scss
Due: styles

Set table element to full width
  src/scss/blocks/core/_table.scss
Due: styles

Match wrapped blocks
  inc/setup/scripts.php
Due: php

Simplify Grid to `.wds-grid` and include as Tailwind plugin
  inc/hooks/main-classes.php
  src/scss/tailwind.scss
  wds.preset.js
Due: php, styles, javascript

Update line height and font weight
  wds.preset.js
Due: javascript

Update tailwind to 3.2.1, change svg-spritemap-webpack-plugin to latest version because git url was not working
  package-lock.json
  package.json
Due: other

Only wrap freeform block when not empty
  inc/hooks/wrap-core-blocks.php
Due: php

Bump postcss from 8.4.18 to 8.4.19
  package-lock.json
  package.json
Due: other

Bump loader-utils from 1.4.0 to 1.4.2
  package-lock.json
Due: other
